@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


 
 body{
font-family: 'Open Sans', sans-serif;
   color:#fff;
   padding:0px;
   margin:0px;
   min-height: 100vh;
 }
 .foo {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
    border: 20px solid #E6EDEA;
    font-size: 200%;
    text-align:center;
    background: url(../images/igor-miske-256866.jpg) center center / cover no-repeat;
 
 }
 h1{
 	margin: 0;
 	padding: 0;
 	font-family: 'Merriweather', serif;
 		font-weight: normal;
 }
 .footer{
 	position: absolute;
 	bottom: 30px;
 	width: 100%;
 	text-align: center;
 	font-size: 12px;
 }
 .center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
.subt{
margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}
 
/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .foo {
    height: 1024px;
  }
}
 
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .foo {
    height: 768px;
  }
}
 
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .foo {
    height: 500px;
  }
}