{% extends "_base.html" %}
{% block content %}
{{ parent() }}

<div class="cover-bg sign-in">
    <img src="static_files/images/contact_bg.png" class="bg_image">

    <div class="container module mt-5">
        <div class="col-md-6 mx-auto">
            <form method="post" class="form-sign" id="form_register">
                <h2>Cambiar contraseña</h2>
                <fieldset class="form-group">
                    <label for="user_pass">Password</label>
                    <input name="user_pass" type="password" class="form-control" id="user_pass"
                           placeholder="Enter password" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="user_pass2">Password -re</label>
                    <input name="user_pass2" type="password" class="form-control" id="user_pass2"
                           placeholder="Enter password" required>
                </fieldset>

                <input name="AG_ACTION" value="ag_auth::recover_pass_update" type="hidden">
                <button type="submit" class="btn-white">Continuar</button>
            </form>
        </div>
    </div>
</div>
{% include 'components/footer_home.html' %}
{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        console.log("hi!");
        $("#form_register").validate({
            rules: {
                user_pass: {
                    minlength: 5,
                },
                user_pass2: {
                    equalTo: "#user_pass"
                },
            },
        });
    });
</script>
{% endblock %}