{% extends "_base.html" %}
{% block content %}
{{ parent() }}
<div class="cover-bg sign-in">
    <img src="static_files/images/contact_bg.png" class="bg_image">

    <div class="container module mt-5">
        <div class="col-md-6 mx-auto">
            <form method="post" class="form-sign">
                <h2 class="float-left">Login</h2>
                <a href="{{AG_BASE}}register" class="float-right">Soy nuevo</a>
                <div class="clearfix "></div>

                <fieldset class="form-group mt-5">
                    <!--<label for="user_identifier">Email address</label>-->
                    <input name="user_identifier" type="email" class="form-control" id="user_identifier"
                           placeholder="Enter email">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="user_pass">Password</label>-->
                    <input name="user_pass" type="password" class="form-control" id="user_pass"
                           placeholder="Enter password">
                </fieldset>
                <a href="{{AG_BASE}}auth_facebook">Login with facebook</a>
                <div class="clearfix"></div>
                <a href="{{AG_BASE}}recover-pass">Recover pass</a>
                <div class="clearfix"></div>
                <input name="AG_ACTION" value="ag_auth::login" type="hidden">

                <div class="mt-5"></div>
                <button type="submit" class="btn-white ">Continuar</button>
            </form>
        </div>
    </div>
</div>

{% include 'components/footer_home.html' %}
{% endblock %}

{% block scripts %}
{{ parent() }}

{% endblock %}