{% extends "_base.html" %}
{% block content %}
{{ parent() }}

<div class="cover-bg sign-up">
    <img src="static_files/images/contact_bg.png" class="bg_image">

    <div class="container module mt-5">
        <div class="col-md-6 mx-auto">
            <form id="form_register" method="post" class="form-sign">
                <h2 class="float-left">Sign up</h2>
                <a href="{{AG_BASE}}login" class="float-right">Ya tengo cuenta</a>
                <div class="clearfix "></div>
                <fieldset class="form-group mt-4">
                    <!--<label for="name">Name</label>-->
                    <input name="tp_name" type="text" class="form-control" id="name"
                           placeholder="Name" required>
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="last_name">Last Name</label>-->
                    <input name="tp_last_name" type="text" class="form-control" id="last_name"
                           placeholder="Last Name" required>
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="user_identifier">Email address</label>-->
                    <input name="user_identifier" type="email" class="form-control" id="user_identifier"
                           placeholder="Email address" required>
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="user_pass">Password</label>-->
                    <input name="user_pass" type="password" class="form-control" id="user_pass"
                           placeholder="Password" required>
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="user_pass2">Confirm Password</label>-->
                    <input type="password" class="form-control" name="user_pass2" id="user_pass2" placeholder="Confirm Password" required>
                </fieldset>
                <a href="{{AG_BASE}}auth_facebook">Register with facebook</a>
                <input name="AG_ACTION" value="ag_auth::register" type="hidden">
                <div class="mt-4"></div>
                <button type="submit" class="btn-white">Continuar</button>
            </form>
        </div>
    </div>
</div>
{% include 'components/footer_home.html' %}
{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $("#form_register").validate({
            rules: {
                user_pass: {
                    minlength: 5,
                },
                user_pass2: {
                    equalTo: "#user_pass"
                },
            },
        });
    });
</script>

{% endblock %}