{% extends "_base.html" %}
{% block content %}
{{ parent() }}
<div class="cover-bg sign-in">
    <img src="static_files/images/contact_bg.png" class="bg_image">

    <div class="container module mt-5">
        <div class="col-md-6 mx-auto">
            <form method="post" class="form-sign">
                <h2 class="float-left">Tu cuenta no esta activa. </h2><br><br>
                <h3>Para activarla debes verificar tu correo electronico.</h3>


                <input name="AG_ACTION" value="ag_auth::resubmit_confirm" type="hidden">

                <div class="mt-5"></div>
                <button type="submit" class="btn-white ">Reenviar correo</button>
            </form>
        </div>
    </div>
</div>

{% include 'components/footer_home.html' %}
{% endblock %}

{% block scripts %}
{{ parent() }}

{% endblock %}