{% extends "_base.html" %}
{% block content %}
{{ parent() }}
<div class="cover-bg sign-in">
    <img src="static_files/images/contact_bg.png" class="bg_image">

    <div class="container module mt-5">
        <div class="col-md-6 mx-auto">
            <form method="post" class="form-sign">
                <h2>Recuperar contraseña</h2>
                <fieldset class="form-group">
                    <label for="user_identifier">Correo</label>
                    <input name="email" type="email" class="form-control" id="user_identifier"
                           value="{{email_temp}}"
                           placeholder="Introduce tu email">
                </fieldset>
                <input name="AG_ACTION" value="ag_auth::recover_pass" type="hidden">
                <button type="submit" class="btn-white">Continuar</button>
            </form>
        </div>
    </div>
</div>
{% include 'components/footer_home.html' %}
{% endblock %}

{% block scripts %}
{{ parent() }}



{% endblock %}
