a, a:hover {
    text-decoration: none;
    color: inherit;
}

div[class^='space'], .div[class*='space'] {
    width: 100%;
    /*float: left;*/
    clear: both;
}

div[class^='space']::after, .div[class*='space']::after {
    clear: both;
    display: block;
    content: '';
    float: none;
}
.space5 {height: 5px !important;}
.space10 {height: 10px !important;}
.space20 {height: 20px !important;}
.space30 {height: 30px !important;}
.space40 {height: 40px !important;}
.space35 {height: 35px !important;}
.space40 {height: 40px !important;}
.space50 {height: 50px !important;}
.space60 {height: 60px !important;}
.space80 {height: 80px !important;}
.space120 {height: 120px !important;}
.space140 {height: 140px !important;}
.space180 {height: 180px !important;}
.space220 {height: 220px !important;}
.space240 {height: 240px !important;}
.space410 {height: 410px !important;}


body{
    font-family: 'Helvetica','Open Sans', sans-serif;
}
.container{

}

.navbar{
    background: #000000;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 28px;
    min-height: 80px;
}
.navbar li{
    height: 42px;
}
.navbar a{
    color: #999999;
}

.navbar .dropdown-menu{
    background: #000000;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
}
.navbar .dropdown-item{
    text-transform: uppercase;
}

.btn-sign{
    color:white !important;
    border:1px solid white;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    display: block;
    line-height: 42px;
    text-align: center;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    font-family: 'FS Lucas';
    font-weight: normal;
    text-transform: uppercase;
}

.separator-nav{
    width: 1px;
    height: 40px;
    background: white;
    margin-right: 1rem;
    margin-left: 1rem;
}

.navbar-nav .nav-link{
    font-family: 'FS Lucas';
    font-weight: bold;
    text-transform:uppercase;
}
@media (min-width: 768px){

    .navbar-nav .nav-link{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .navbar-nav .nav-link.fix-margin {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        margin-left: -6px;
    }

}

/* home intro */

.cover-bg{
    position: relative;
    /*background: url(images/background_home.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 670px;
    overflow: hidden;
}
.cover-bg.home{
    height: 670px;
}
.cover-bg.home .box_text{
    background: rgba(0,0,0,0.4);
    height: 670px;
}
.cover-bg.home a{
    margin: 140px auto 0px;
}

.cover-bg.places{
    height: 620px;
}

.cover-bg.sign-in{
    height: auto;
    padding-bottom: 60px;
}
.cover-bg.sign-up{
    height: auto;
    padding-bottom: 60px;
}

.cover-bg .home_video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
.cover-bg .bg_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


.cover-bg .box_text{
    position: absolute;
    width: 100%;
}



.cover-bg p{
    font-family: 'Noe Display';
    font-weight: normal;
    font-style: italic;

    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 64px;
    max-width: 670px;
    text-align: center;
    display: block;
    margin: 170px auto 0px;
    clear: both;
}
.cover-bg .box_text.contact p {
    font-style: normal;
}
.cover-bg p.helptext{
    margin: 0 auto;
    max-width: 670px;
    color: #FFFFFF;
    font-size: 22px;
    text-align: left;
}
.cover-bg a{


}

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}
/* end block */

/* cart  */

.box-card{
    overflow: hidden;
    margin-bottom: 40px;
}
.box-card .image_box{
    width: 100%;
}
.box-card .calendar{
    background: #000000;
    border-radius: 4px;
    color:white;
    width: 35px;
    height: 45px;
    margin-bottom: -45px;
    z-index: 9999;
    position: relative;
    top:8px;
    left:8px;
    padding: 0px;
}

.box-card .calendar .month{
    font-size: 10px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'FS Lucas';
    font-weight: bold;
    padding-top: 4px;
    text-transform: uppercase;
}


.box-card .calendar .day{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: 'Noe Display';
}


.box-card .calendar .separator{
    width: 10px;
    margin: 0 auto;
    height: 1px;
    background: white;
}
.box-card img{

}
.box-card .title{
    font-size: 21px;
    margin-top:17px;
    margin-bottom: 0px;
    font-family: 'Noe Display';
    font-weight: bold;
}

.box-card .sub-title{
    font-size: 21px;
    margin-top: -7px;
    font-family: 'Noe Display';
    font-weight: normal;
    text-align: left;
}

.box-card .description{
    font-size: 16px;
    margin-top:17px;
    font-family: 'FS Lucas';
    font-weight: normal;
}

.box-card .url{
    border-bottom: 1px solid #666666;
    color:#666666;
    font-family: 'FS Lucas';
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
}

.box-big-card{
    width: 100%;
    height: 295px;
    overflow: hidden;
    margin: 0 15px;;
    margin-bottom: 40px;
    border:1px solid #D8D8D8;
}
.box-big-card .image{
    width: 100%;
    height: 100%;
    max-width: 278px;
    float: left;
    overflow: hidden;
}
.box-big-card .image img{
    height: 100%;
    margin:0 auto;
    width: auto;
}

.box-big-card .info{
    float: left;
    margin-left: 40px;
    width: 100%;
    max-width: 630px;
}

.box-big-card .info .separator{
    float: left;
    width: 2px;
    height: 114px;
    margin: 90px 10px 0;
    background: #D8D8D8;
}

.box-big-card .info .separator.mobile{
    clear: both;
    width: 30px;
    height: 1px;
    margin:0px;

    background: #000000;


}
.box-big-card .info .block1{
    float: left;
    margin-top:47px;
    width: 390px;
}
.box-big-card .info .block1 .date{
    color: #373A3C;
    font-size: 16px;
    font-family: 'FS Lucas';
}
.box-big-card .info .block1 .date .cal-ico{
    width: 20px;
    display: inline-block;
}
.box-big-card .info .block1 .buttons{

}
.box-big-card .info .block1 .buttons .button{
    display: inline-block;
    font-size: 13px;
    color:#333333;
    margin-right: 20px;
    border:none;
    font-family: 'FS Lucas';
}

.box-big-card .info .block2{
    float: left;
    width: 100%;
    max-width: 218px;
    margin-top:43px;
}
.box-big-card .info .block2 .price_txt{
    font-size: 17px;
    color:black;
    width: 100%;
    text-align: center;
    font-family: 'FS Lucas';
}
.box-big-card .info .block2 .price_txt span{
    clear: both;
    width: 100%;
    color: #676767;
    display: block;
}
.box-big-card .info .block2 .price{
    font-size: 40px;
    color:#F8C51C;
    width: 100%;
    text-align: center;
    font-family: 'Noe Display';
}
.box-big-card .info .block2 .stars{
    width: 100%;
    text-align: center;
    margin-top: 12px;
}
.box-big-card .info .block2 .opinion{
    width: 100%;
    text-align: center;
    color:#373A3C;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'FS Lucas';

}
.box-big-card .info .block2 .button_black{
    width: 177px;
    height: 50px;
    text-align: center;
    background: #333333;
    color:white;
    line-height: 50px;
    margin:0 auto;
    margin-top:20px;
    display: block;
    font-family: 'FS Lucas';
    font-weight: bold;
    border-radius: 2px;
}


.box-big-card .calendar{
    background: #000000;
    border-radius: 4px;
    color:white;
    width: 35px;
    height: 45px;
    margin-bottom: -45px;
    z-index: 9999;
    position: relative;
    top:8px;
    left:8px;
    padding: 0px;
}

.box-big-card .calendar .month{
    font-size: 10px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'FS Lucas';
    font-weight: bold;
    padding-top: 4px;
    text-transform: uppercase;
}


.box-big-card .calendar .day{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: 'Noe Display';
}


.box-big-card .calendar .separator{
    width: 10px;
    margin: 0 auto;
    height: 1px;
    background: white;
}
.box-big-card img{

}
.box-big-card .title{
    font-size: 21px;
    margin-top:17px;
    font-family: 'Noe Display';
    font-weight: bold;

}

.box-big-card .description{
    font-size: 16px;
    margin-top:17px;
}

.box-big-card .url{
    border-bottom: 1px solid
}


.view_more{
    width: 100%;

}
.view_more .btn_see{
    background: #333333;
    border-radius: 3px;
    height: 50px;
    width: 312px;
    line-height: 50px;
    margin: 0 auto;
    color:white;
    display: block;
    text-align: center;
    font-family: 'FS Lucas';
    font-weight: bold;
}

.feedback{
    background: #333333;
    color:white;
    /*height: 433px;*/
    padding-bottom: 40px;
}
.feedback .title{
    text-align: center;
    width: 100%;
    padding: 20px 0px 15px;
    clear: both;
    font-size: 22px;
    font-family: 'Noe Display';
    font-weight: normal;
}
.feedback .title-separator{
    margin: 0px auto 22px;
    background: #ffffff;
    height: 1px;
    width: 50px;

}
.books .title{
    text-align: left;
    width: 100%;
    padding: 20px 0px 15px;
    clear: both;
    font-size: 22px;
    text-transform: capitalize;
}
.books .title-separator{
    margin: 0px auto 22px;
    background: #000000;
    height: 1px;
    width: 50px;

}

.the-places{
    background: #eeeeee;
    background: url(images/cities_background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#000000;
    padding-top:40px;

}
.the-places:before {
    display: block;
    clear: both;
    content: "";
}
.the-places .title{
    text-align: center;
    width: 100%;
    padding: 20px 0px 15px;
    clear: both;
    font-size: 22px;
    font-family: 'Noe Display';
    font-weight: normal;
}
.the-places .title-separator{
    margin: 0px auto 22px;
    background: #000000;
    height: 1px;
    width: 50px;
}

.the-places .box{
    margin-top:50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.the-places .box .image{
    float: left;
}
.the-places .box .image img{
    max-width: 100%;
}
.the-places .box .box-text{
    float: right;
    max-width: 500px;
    padding-left: 45px;
}
.the-places .box .box-text .title{
    font-size: 44px;
    text-align: left;
    margin-top: 32px;
    font-family: 'Noe Display';
    font-weight: normal;
    font-style: italic;
}

.the-places .box .box-text .description{
    font-size: 16px;
    margin: 26px auto;
    color: #373A3C;
    font-family: 'FS Lucas';
    font-weight: normal;
}

.the-places .box .box-text a{
    font-size: 16px;
    margin: 26px auto;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    float: left;
    font-family: 'FS Lucas';
    font-weight: bold;
}

.footer_black{
    background: #000000;
    color: #FAFAFA;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
}


.footer_black .copy{
    display: inline-block;
    text-align: left;
    float:left;
    font-family: 'FS Lucas';
    font-weight: bold;

}
.footer_black .ico{
    display: inline-block;
}
.footer_black .social{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.footer_black .social a{
    display: inline-block;
}
.footer_black .social.mobile {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom:  20px;
}
.footer_black .social.mobile a{
    margin:0 34px;
}
.footer_black .social .separator{
    display: inline-block;
    background: #FAFAFA ;
    width: 1px;
    height: 10px;
    margin: 0px 6px;
}

.footer_grey{
    background: #333333;
    padding-top:40px;
    padding-bottom:40px;
}

.footer_grey .title{
    font-size: 40px;
    color:white;
    font-family: "Noe Display";
    font-weight: bold;
    line-height: 40px;
    margin-top: 12px;
}

.footer_grey .description{
    font-size: 14px;
    color:white;
    max-width: 175px;
    margin: 20px 0;
    font-family: "FS Lucas";
    font-weight: bold;
}

.footer_grey form{
    padding-top:20px;
}
.footer_grey form input{
    font-size: 15px;
    color:#333;
    background: #ffffff;
    width: 300px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.box-float-video{

}

.sub-title{
    text-align: center;
    /*margin-top: 150px;*/
}
.sub-title h3{
    font-family: 'FS Lucas';
    font-weight: 900;
    margin: 0 auto;
    display: block;
    font-size: 48px;
    text-align: center;
}
.sub-title p{
    font-family: 'FS Lucas';
    margin: 0 auto;
    display: block;
    font-size: 22px;
}
.places-video{
    width: 100%;
    max-width: 670px;
    height: auto;
    margin:0 auto;
    margin-top: -250px;
    line-height: 0px;
    position: relative;
}
.places-video video{
    width: 100%;
    height: auto;
    cursor: pointer;

}
.places-video img{
    margin:0 auto;
    display: block;
}
.image-place.mobile{
    width: 100%;
}
.image-place{
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
    padding: 0 7.5px;
}
.image-place .title{
    font-size: 74px;
    color:white;
    font-family: 'Noe Display';
    font-style: italic;
}
.image-place .text{
    font-family: 'FS Lucas';
    color:white;
    font-size: 18px;
    width: 90%;
    margin:0 auto;
}
.image-place .separator{
    width: 40px;
    height: 2px;
    background: #F8C51C;
    clear: both;
    margin:0 auto;
}
.col-12.image-place .title{
    padding-top: 120px;
}
.col-12.image-place .text{
    padding-top: 40px;
}
.col-6.image-place .title{
    padding-top: 40px;
}
.col-4.image-place .title{
    padding-top: 20px;
}
.image-place img{
    width: 100%;

}
.image-place .box{
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    padding: 0 7px;
    margin: 0 -15px;
    height: 100%;
    text-transform: uppercase;
    LEFT: 14px;
}
.image-place .box .inner-box{
    height:100%;
    background: rgba(0,0,0,0.4);
    width: 100%;

}

.image-place.mobile .box{
    opacity: 1;
    padding: 0 0px;
    margin: 0 0px;
}
.image-place:hover .box{
    opacity: 1;
}

.searcher{

}

.searcher .info{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    font-family: 'Noe Display';
    font-style: italic;
}

.searcher .filter-box{

}

.searcher .filter-box .dropdown{

    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-family: 'FS Lucas';
    font-weight: bold;

}


.searcher .filter-box button, .searcher .filter-box .dropdown button{
    background: none;
    border-radius: 2px;
    border:1px solid black;
    color: #333333;
    height: 35px;
    font-size: 15px;
    margin-right: 8px;
    padding: 0 12px;
    text-transform: uppercase;
    font-family: 'FS Lucas';
    font-weight: bold;
}
.searcher .dropdown-menu {
    padding: 0px;
}
.searcher .dropdown-menu .dropdown-item{
    color: #333333;
    text-transform: capitalize;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    text-transform: uppercase;
    font-family: 'FS Lucas';
    font-weight: bold;
    border:1px solid black;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.searcher .filter-box button.active, .searcher .filter-box .dropdown button.active{
    border:1px solid black;
    color: white;
    background: black;
}

.searcher .filter-box input{
    background: none;
    border-radius: 2px;
    border:1px solid black;
    color: black;
    height: 35px;
    font-size: 15px;
    position: relative;
    top: 4px;
    width: 420px;
}
.dropdown-toggle::after{
    background: url(images/ico_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
    width: 10px;
    height: 10px;
    position: relative;
    top: 3px;
}

.ui-widget-content{
    background: white;
    border-radius: 0px !important;
    font-weight: normal;
}
.ui-widget-header{
    background: white;
    border-radius: 0px !important;
    font-weight: normal;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background: white;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border:2px solid black;
}


.save-ico{
    width: 19px;
}
.share-ico{
    width: 19px;
}

.star-ico{
    width: 19px;
}

.breadcrumb{
    background: none;
    padding: 0;
    margin:0;
    margin-top:47px;
    font-size: 19px;
    text-transform: uppercase;
}
.breadcrumb-item{
    font-family: 'Noe Display';
}
.breadcrumb-item.active{
    font-family: 'Noe Display';
    font-weight: normal;
    font-style: italic;
}



.book{

}
.book .separator{
    width: 40px;
    background: black;
    height: 1px;
    margin: 15px 0;
}
.book h1{
    margin-top:5px;
    font-size: 37px;
    font-family: 'Noe Display';
    font-weight: bold;
    display: inline-block;
}
.book .sub-title{
    margin:0;
    padding: 0;
    font-size: 37px;
    display: inline-block;
    font-family: 'Noe Display';
    font-style: normal;
}
}
.book .description{
    margin-top:5px;
    font-size: 24px;
    max-width: 870px;
    width: 100%;
    font-family: 'Noe Display';
}
.book .info{
    font-size: 19px;
    margin:10px 0;
    font-family: 'FS Lucas';
    font-weight: 500;

}
.book .ico{
    width: 25px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}
.book .ico img{
    position: relative;
    top: -3px;
}
.book .date{
    display: inline-block;
    margin-right: 25px;
}

.book .stars{
    display: inline-block;
    margin-right: 25px;
}

.book .price{
    display: inline-block;
    margin-right: 25px;
}

.book .temperature{
    display: inline-block;
}

.book .biginfo{

}

.book .biginfo .tabs{
    max-width: 645px;
    width: 100%;
    float: left;
    margin-right: 30px;
}
.book .biginfo .tabs .scrollable{
    overflow-x: visible;
}

/* optional: show position indicator in red */

.book .biginfo .tabs .nav-tabs{
    width: 700px;
}
.nav-tabs{
    border:none;
    margin-bottom: 20px;
}

.nav-tabs .nav-link{
    border:1px solid #333333;
    border-radius: 4px;
    background: white;
    margin-right: 10px;
    padding: 5px 20px;
    font-family: 'FS Lucas';
    font-weight: bold;
    text-transform: uppercase;
}
.tab-content{
    font-family: 'FS Lucas';
    font-weight: normal;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border:1px solid #333333;
    border-radius: 4px;
    background: #333333;
    color:white;

}

.nav-tabs .tab-pane{
    border-top:20px #333333 solid;

}


.bar-black{
    background: #333333;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    color:white;
    padding-left: 20px;
    font-family: 'FS Lucas';
    font-weight: bold;
    margin-bottom: 5px;
}

.buybox{
    border:1px solid #CCCCCC;
    width: 275px;
    /*height: 530px;*/
    float: left;
    margin-top: 54px;
}
.buybox form{
    margin:0px;
}
.buybox .price,.price .price{
    width: 100%;
    font-size: 40px;
    color:#F8C51C;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
}
.price.mobile{
    font-family: "FS Lucas";
    font-size: 17px;
}
.price.mobile .price{
   text-align: left;
   margin-bottom: 35px;
   border:none;
}
.buybox .price img{
    position: relative;
    top: -3px;
    margin: 0;
}
.buybox .dates{
    width: 240px ;
    margin:0 auto;
}
.buybox .dates .box-text{
    width: 100%;
    text-align: left;
    color:#373A3C;
    font-size: 14px;
    line-height: 30px;
}
.buybox .dates .box-text .block1{
    width: 120px ;
    /*float: left;*/
    display: inline-block;

}

.buybox .dates .box-text .block2{
    width: 110px ;
    /*float: left;*/
    display: inline-block;


}
.buybox .dates .box{
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: left;
    color:    #373A3C;
    font-size: 16px;
    line-height: 45px;
}
.buybox .dates .box .block1{
    width: 115px ;
    /*float: left;*/
    display: inline-block;
    padding-left: 12px;
}

.buybox .dates .box .block2{
    width: 110px ;
    border-left: 1px solid #cccccc;
    /*float: left;*/
    display: inline-block;
    padding-left: 12px;
}

.buybox .persons{
    width: 240px ;
    margin:0 auto;
    margin-top: 10px;
}

.buybox .persons .box-text{
    width: 100%;
    text-align: left;
    color:#373A3C;
    font-size: 14px;
    line-height: 30px;
    margin-top:8px;
    margin-bottom:6px;
}
.buybox .form-group{
    margin:0px;
}
.buybox .btn-foodie{
    margin-top: 40px;
    height: 50px;
}
.buybox .box-share{
    width: 100%;
    margin-top: 10px;
    border-top:  1px solid #cccccc;
}
.buybox .box-share .buttons{
    width: 100%;
    height: 50px;
    margin:0 auto;
    text-align: center;
    background: none;
    border:none;
}
.buybox .box-share .button{
    width: 49%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    float: left;
    background: none;
    border:none;
}
.buybox .box-share .button.border{
    border:none !important;
    border-left: 1px solid #cccccc !important;
}



.process{
    margin-top: 60px;
}
.process .title{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
.process .info {
    padding: 0px 10px;
}

.process .ico-infos {
    font-size: 19px;
    color:#373A3C;
    line-height: 35px;

}
.process .box-img {
    width: 28px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 4px;

}

.process .separator{
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: 2px auto;
    float: left;
    clear: both;

}
.process .box-value{
    width: 100%;
    float: left;
    margin: 22px auto;
    font-size: 19px;
    color:#373A3C;
}
.process .box-value .text{
    float: left;
}
.process .box-value .value{
    float: right;
    text-align: left;
    font-weight: bold;
}
.process .price{
    /* 1.345: */
    font-family: Helvetica;
    font-size: 33.78px;
    color: #F8C51C;
    letter-spacing: 0;
    line-height: 33.78px;

}
.process .price .symbol{
    font-size: 21.34px;
    color: #F8C51C;
    letter-spacing: 0;
    line-height: 33.78px;
    display: inline-block;
}

.cancel-a{
    background: none;
    font-size: 15px;
    color: #F54B5E;
    letter-spacing: 1px;
    line-height: 28px;
    border: none;
    width: 100%;
    text-align: center;

}


.places .banner-view-text{
    width: 100%;
    max-width: 980px;
    /* Hungary, sabor, soni: */
    font-family: 'Helvetica';
    font-size: 84px;
    color: #FFC552;
    letter-spacing: 0;
    line-height: 76px;
    margin: 0 auto;
}
.places .banner-view-text p{
    color: #FFC552;
    text-align: left;
    float: left;
    max-height: 460px;
    font-family: 'Noe Display';
    font-style: italic;

}





.title-places-view{
    font-family: 'FS Lucas';

}

.title-places-view .number{
    opacity: 0.7;
    font-family: 'Noe Display';
    font-weight: bold;

    font-size: 184px;
    color: #F8C51C;
    letter-spacing: 0;
    line-height: 86px;

}
.title-places-view .title{
    font-family: 'FS Lucas'!important;
    font-weight: bold !important;
}
.title-places-view .text{
    font-family: 'FS Lucas';
}
.title-places-view.pos1 .title{

    font-size: 47.8px;
    color: #000000;
    letter-spacing: 0;
    line-height: 60.2px;



}
.title-places-view.pos1 .text{


    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
}

.title-places-view.pos1{
    margin: 0 auto;
    position: relative;
    width: 256px;
}

.title-places-view.pos1 .number{
    position: absolute;
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

/* pos 2 */
.title-places-view.pos2 .title{
    font-size: 47.8px;
    color: #000000;
    letter-spacing: 0;
    line-height: 60.2px;
    text-align: right;
}
.title-places-view.pos2 .text{
    /* Las experiencias hec: */
    font-family: 'Helvetica';
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    text-align: right;
}

.title-places-view.pos2{
    margin: 0 auto;
    position: relative;
    width: 390px;
    text-align: right;
    float: right;
}

.title-places-view.pos2 .number{
    position: absolute;
    width: 100%;
    text-align: right;
    margin-right: -10px;
}
/* pos 3 */

.title-places-view.pos3 .title{
    font-size: 47.8px;
    color: #000000;
    letter-spacing: 0;
    line-height: 60.2px;
    margin-left: 150px;
}
.title-places-view.pos3 .text{
    /* Las experiencias hec: */
    font-family: 'Helvetica';
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    margin-left: 150px;
}

.title-places-view.pos3{
    margin-top: 80px;
    position: relative;
    /* width: 590px; */
    margin-left: -44px;

}

.title-places-view.pos3 .number{
    position: absolute;
    width: 100%;
    text-align: left;
    margin-left: -40px;
}

/* pos4 */

.title-places-view.pos4 .title{
    font-size: 47.8px;
    color: #000000;
    letter-spacing: 0;
    line-height: 60.2px;
    text-align: center;
}
.title-places-view.pos4 .text{
    /* Las experiencias hec: */
    font-family: 'Helvetica';
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;

}

.title-places-view.pos4{
    margin: 0 auto;
    position: relative;
    width: 590px;
}

.title-places-view.pos5 .number{
    float: right;
    position: relative;
    top: 100px;
    left: 60px;
}
.title-places-view.pos5 .title{
    font-size: 47.8px;
    color: #000000;
    letter-spacing: 0;
    line-height: 60.2px;
    text-align: left;


}
.title-places-view.pos5 .text{
    /* Las experiencias hec: */
    font-family: 'Helvetica';
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;

}

.title-places-view.pos5{
    margin: 0 auto;
    position: relative;
    width: 380px;
    float: right;
}

.title-places-view.pos4 .number{
    position: absolute;
    width: 100%;
    text-align: center;
    /* margin-left: -40px;     */
}


.title-places-view .title{
    margin-top: 30px;
    z-index: 3;
    position: relative;
}

.title-places-view .text{
    z-index: 3;
    position: relative;
}

.description_firts{

}
.description_firts .title{
    font-family: Noe Display;
    font-weight: bold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
}

.description_firts .description{
    margin-top:20px;
    margin-bottom: 20px;
    font-family: 'FS Lucas';
    font-size: 16px;
    color: #373A3C;
    letter-spacing: 0;
    line-height: 24px;
}

.description_firts .phrase{
    /* We are sure that you: */
    font-family: 'Noe Display';
    font-weight: bold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
    margin:0 auto;
    width: 100%;
    max-width: 450px;
    text-align: center;

}

.food{
    position: relative;
    overflow: hidden;
    width: 100%;

}
.food .bg{
    width: 100%;
    position: absolute;
    height: auto;

}
.food .box{
    padding: 2rem;
    color:white;
}
.food .box img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;

}
.food .box .text{
    width: auto;
    overflow:hidden;
    color:white;
    padding-left: 20px;
}
.food .box .text .title{
    /* Gulyás: */
    font-family: 'FS Lucas';
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
}
.food .box .text .description{
    font-family: 'FS Lucas';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
    padding: 0px;
    margin: 0px;

}


.places-view-video{
    width: 100%;
    max-width: 100%;
    /* margin-top: 250px; */
}
.places-view-video .places-video{
    margin: 0 auto;
    -webkit-box-shadow: 3px 3px 34px -1px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 3px 34px -1px rgba(0,0,0,0.61);
    box-shadow: 3px 3px 34px -1px rgba(0,0,0,0.61);

}
.places-view-video img{
    max-width: 90%;
    margin:0 auto;
    display: block;
}
.places-view-video .saparator1{
     display: block;
     height: 83px;
     width: 1px;
     background: #000000;
     margin: 0 auto;
     clear: both;

 }
.places-view-video .saparator2{
    display: block;
    height: 323px;
    width: 1px;
    background: #000000;
    margin: 0 auto;
    clear: both;

}
.foodies-places{
    width: 100%;
    padding: 40px 0 63px;
    clear: both;
}
.foodies-places.bg-3{
    z-index: 1;
}
.foodies-places .saparator1{
    display: block;
    height: 83px;
    width: 1px;
    background: #000000;
    margin: 0 auto;
    clear: both;

}
.foodies-places .saparator2{
    display: block;
    height: 120px;
    width: 1px;
    background: #000000;
    margin: 0 auto;
    clear: both;

}
.foodies-places .title{
    /* ¿Hay que formular un: */
    font-family: "Noe Display";
    font-weight: bold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
    width: 100%;
    text-align: center;
    padding-bottom: 40px ;
}
.foodies-places .items{

}
.foodies-places .item .title{
    margin-top: 60px;
    font-family: "Noe Display";
    font-weight: normal;
    font-style: italic;
    color:#666666;
    font-size: 21px;
    padding: 0px;
    text-align: center;
    width: 100%;

}
.foodies-places .item .description{
    font-family: "FS Lucas";
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color:#373A3C;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
.foodies-places .image_bg{
    position: relative;
    margin: 0 auto;
    width: 178px;
}
.foodies-places .image_bg img{
    max-width: 100%;
}
.foodies-places .image_bg .back{
    display: block;
    background: #FBD760;
    width: 218px;
    height: 265px;
    position: absolute;
    top: 23px;
    left: -20px;
    z-index: -1;
}
.foodies-places .image_bg .back2{
    display: block;
    background: #FBD760;
    width: 218px;
    height: 265px;
    position: absolute;
    top: -23px;
    left: -20px;
    z-index: -1;
}
.ambassador{
    width: 100%;
    margin-top:-200px;
}
.ambassador .info-main{
    float: left;
    width: 100%;
    max-width: 1000px;
}
.ambassador .info-main .img-main{
    display: block;
    float: left;
    width: 100%;
    max-width: 490px;
    margin-left: -120px;
}
.ambassador .info-main .text{
    width: auto;
    overflow:hidden;
    padding-left: 32px;
    padding-top: 330px;
}
.ambassador .info-main .text .name{
    /* Kata Koklacs: */
    font-family: 'FS Lucas';
    font-weight: bold;
    font-size: 68px;
    color: #F9C600;
    letter-spacing: 0;
    line-height: 34px;
}
.ambassador .info-main .text .description{
    /* The point of using L: */
    font-family: 'FS Lucas';
    font-size: 16px;
    color: #373A3C;
    letter-spacing: 0;
    line-height: 24px;
    margin-top:40px;
}

.ambassador .info-main a img{
    width: 40px;

}


.essentials{
    clear: both;
    float: left;
}
.essentials-list{
    margin-top: 70px;
}

.essentials-list .box{
    padding: 0px 30px;

}
.essentials-list .box .box-image{
    height: 210px;
}
.essentials-list .box .box-image img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.essentials-list .box .title{

     font-family: 'Noe Display';
     font-weight: bold;
     font-size: 21px;
     color: #000000;
     letter-spacing: 0;
     line-height: 26px;
     text-align: center;
}
.essentials-list .box .sub-title{

    font-family: 'Noe Display';
    font-weight: normal;
    font-style: italic;
    font-size: 21px;
    color: #666666;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    margin:0;

}
.essentials-list .box .description{
    margin-top:20px;
    font-family: 'FS Lucas';
    font-size: 16px;
    color: #373A3C;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}

.foodies{
    width: 100%;
}

.btn-black, .btn-foodie{
    width: 100%;
    /* ver todas: */
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 28px;
    background: #333;

}

.about{
    background: url(images/cities_background.png) repeat;


}
.about .title{
    /* font-family: .SFNSDisplay; */
    font-family: 'Noe Display';
    font-size: 74px;
    color: #000000;
    letter-spacing: 0;
    line-height: 60px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}
.about .title-text{
    font-family: 'Noe Display';
    font-style: italic;
    /* FoodieStay is a glob: */
    /* font-family: .SFNSDisplay; */
    font-size: 28px;
    color: #000000;
    letter-spacing: 0;
    line-height: 34px;
    max-width: 640px;
    width: 100%;
    margin:0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.about .subtitle{
    /* font-family: .SFNSDisplay; */
    font-family: 'Noe Display';
    font-style: italic;
    font-size: 43px;
    color: #000000;
    letter-spacing: 0;
    line-height: 50px;

}
.about .description{
    font-family: "FS Lucas";
    margin-top: 15px;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
}
.about .over-image{

}
.about .over-image{
    overflow: visible;
}
.about .over-image.rg img{
    float: right;

}
.about .over-image.lf img{
    float: left;

}
.about .center-all{
    text-align: center;
    width: 100%;
}
.about .center-all .title{
    /* Our experiences: */
    font-family: 'Noe Display';
    font-style: italic;
    font-size: 43px;
    color: #000000;
    letter-spacing: 0;
    line-height: 50px;

    margin-top: 0px;
    margin-bottom: 10px;
}

.about .center-all .description{
    /* Right moment, right: */
    font-family: 'FS Lucas';
    font-size: 16px;
    color: #373A3C;
    letter-spacing: 0;
    line-height: 24px;
    max-width: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.list-places{
    margin-bottom: 100px;
}
.list-places .row{

}

.form-update{
    color:#373A3C;
    font-family: "FS Lucas";
}
.form-update input{
    background: transparent;
    color:#373A3C;
}
.form-update .form-groups{
    margin-top: 20px;
}
.form-update a{
    text-decoration: underline;

    /*line-height: 24px;*/
    /*font-size: 24px;*/
}
.form-update input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #373A3C;
    opacity: 1; /* Firefox */
}

.form-update input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #373A3C;
}

.form-update input::-ms-input-placeholder { /* Microsoft Edge */
    color: #373A3C;
}



.form-sign{
    color:white;
    font-family: "FS Lucas";
}
.form-sign input{
    background: transparent;
    color:white;
}
.form-sign .form-groups{
    margin-top: 20px;
}
.form-sign a{
    text-decoration: underline;

    /*line-height: 24px;*/
    /*font-size: 24px;*/
}
.form-sign input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FAFAFA;
    opacity: 1; /* Firefox */
}

.form-sign input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FAFAFA;
}

.form-sign input::-ms-input-placeholder { /* Microsoft Edge */
    color: #FAFAFA;
}

.perfil-menu{

}
.perfil-menu .dropdown-item{
    text-align: left;
    font-size: 14px;
    color:#FAFAFA;
}
.perfil-menu .dropdown-item:hover{
    text-align: left;
    font-size: 14px;
    color:#FAFAFA;
    background: rgba(33,33,33,1);
}


.perfil-menu .dropdown-item small{
    font-size: 13px;
    color:#D9D9D9;
    text-transform: none;
}

.perfil-menu .dropdown-item small:before{
    content: ' ';
    display: block;
}

.btn-white{
    text-align: center;
    display: block;
    background: none;
    clear: both;
    color: #FFFFFF !important;
    border: 1px solid white;
    width: 300px;
    /*height: 50px;*/
    line-height: 50px;
    padding: 0px;
    font-family: 'FS Lucas';
    font-weight: bold;
}


button{
    cursor: pointer;
}

.subtitle-yellow{
    font-family: 'FS Lucas';
    font-weight: bold;
    width: 100%;
    height: 35px;
    background: #F8C51C;
    font-size: 16px;
    line-height: 35px;
    padding-left: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.image-fix-box{
    position: relative;
    overflow: hidden;
}
.image-fix-box.book{
    width: 100%;
    height: 212px;
}
.image-fix-box.book img.image-fix{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.active{

}

.form_save button{
    background: none;
    display: inline-block;
    clear: none;
    float: left;
    margin-top: 5px;


}

.book-apartment{

}
.book-apartment .title{
    font-family: 'Noe Display';
    font-weight: bold;
    margin-top:20px;
    font-size: 21px;
}
.book-apartment .description{
    font-family: 'FS Lucas';
    font-weight: normal;
    margin-top:10px;
    
}
.book-apartment .image{
    margin-top:10px;
}
.book-apartment .image img{
    width: 100%;
}
.flexslider.apartment .flex-control-paging{
    display: none;
}

.flex-direction-nav a{
    height: 50px;
}

.included-li ul{
    list-style-image: url('images/ico_incluyed.svg');
}
.no-included-li ul{
    list-style-image: url('images/ico_no_incluyed.svg');
}

.bg-3{
    background: #eeeeee;
    background: url(images/cities_background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#000000;
    width: 100%;
    min-height: 400px;
    z-index: -99;
    position: relative;
}

.flexslider.carrusel{
    width: 100%;
    margin-bottom: 0px;
}
.flexslider.carrusel .box-card{
    width: 96%;
    float: left;
    margin-left: 2%;
}
.flexslider.carrusel .flex-control-nav,.flexslider.carrusel .flex-direction-nav{
    display: none;
}


.scroll-label{
    width: 100%;
    overflow-x:scroll ;

}

.scroll-label .box-card{

}

.flexslider.flex-places{
    width: 100%;
    background: transparent;
    border:none;
    margin:0;
}

.flexslider.flex-places .flex-direction-nav {
    display: none;
}
.flexslider.flex-places .flex-control-nav{
    bottom: 14px;
    z-index: 999;
    /*display: none;*/
}

.flexslider.flex-foodiers{

}
.flexslider.flex-foodiers{
    width: 100%;
    background: transparent;
    border:none;
    margin:0;
}
.flexslider.flex-foodiers .flex-direction-nav {
    display: none;
}
.flexslider.flex-foodiers .flex-control-nav{
    bottom: -50px;
    z-index: 999;
}

.flexslider.flex-essentials{

}
.flexslider.flex-essentials{
    width: 100%;
    background: transparent;
    border:none;
    margin:0;
}
.flexslider.flex-essentials .flex-direction-nav {
    display: none;
}
.flexslider.flex-essentials .flex-control-nav{
    bottom: -50px;
    z-index: 999;
}
.flexslider.list_food{
    width: 100%;
    background: transparent;
    border:none;
    margin:0;
}
.flexslider.list_food .flex-direction-nav {
    display: none;
}
.flexslider.list_food .flex-control-nav{
    bottom: 5px;
    z-index: 999;
}
.flex-control-paging li a{
    background: #999999;
    width: 7px;
    height: 7px;
}
.flex-control-paging li a.flex-active{
    background: white;
}

.flexslider.foodiestayers{
    width: 100%;
    background: transparent;
    border:none;
    margin:0;
}
.flexslider.foodiestayers .flex-control-nav{
    display: none;

}


.flexslider.foodiestayers .flex-direction-nav .flex-next {
    right: 5px; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
    top:55px;

}
.flexslider.foodiestayers .flex-direction-nav a.flex-next:before{
    color:white;
    content: '';
    background-image: url("images/ico_next.svg");
    width: 27px;
    height: 38px;
}
.flexslider.foodiestayers .flex-direction-nav .flex-prev {
    left: 5px; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
    top:55px;

}
.flexslider.foodiestayers .flex-direction-nav a.flex-prev:before{
    color:white;
    content: '';
    background-image: url("images/ico_prev.svg");
    width: 27px;
    height: 38px;
}

.foodiestayers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.foodiestayers .quote_image{
    width: auto;
    height: auto;
    position: relative;
    z-index: 9999;
    left: -40px;
    top: -8px;

}
.foodiestayers .quote_image img{
    width: auto;
}
.foodiestayers .image-box{
    width: 154px;
    height: 154px;
    overflow: hidden;
    margin:0 auto;
}
.foodiestayers .image-box img{
    width: 100%;
    border-radius: 50%;
}

.foodiestayers .description{
    font-family: "Noe Display";
    color:#FFFFFF;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
}
.foodiestayers .name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:#999999;
}

.contact{
    font-family: "Noe Display";
    color:#373A3C;
}
.contact .info{
    font-size: 28px;
}
.contact .inner_title{
    font-family: "FS Lucas";
    font-weight: bold;
    font-size: 14px;
}
.contact .inner_info_mute{
    font-family: "FS Lucas";
    font-weight: normal;
    color:#373A3C;
}
.contact label{
    font-family: "FS Lucas";
    font-weight: bold;
    color:#979797;
    font-size: 15px;
}

.info-person{

}
.info-person .image{
    float:left;
}
.info-person .image img{
    border-radius: 50%;
    width: 76px;
    height: 76px;
    margin:10px;

}
.info-person .info{
    float: left;
    margin-left:5px;
    margin-top:25px;
}
.info-person .info .name{
    font-family: "FS Lucas";
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
}
.info-person .info .email{
    font-family: "FS Lucas";
    font-size: 12px;
}
.info-person .edit{
    float: left;
    margin: 50px 12px 0px;
}

.info-person .url{
    position: relative;
    width: 96%;
    margin:0 auto;
    border-top:1px solid #CCCCCC;
    padding: 10px 0;
    font-family: "FS Lucas";
    display: block;
}
.info-person .url .title{

    font-weight: bold;
    font-size: 14px;
}
.info-person .url span{
    font-size: 12px;
}
.info-person .url img{
    position: absolute;
    right: 0px;
    top:20px;
}

@media (max-width: 768px) {
    .foodiestayers .description {
        font-size: 21px;

    }
}



/*responsive*/
@media only screen and (max-width: 1200px) {
    .cover-bg .home_video {
        width: auto;
        height: 100%;
    }
}
@media only screen and (max-width: 1250px) {
    .cover-bg .bg_image{
        width: auto;
        height: 100%;
    }
}

.price.mobile{
    display: none;
}
@media only screen and (max-width: 780px) {
    .price.mobile{
        display: block;
    }
    .buybox{
        margin: 0 auto;
        float: none;
        clear: both;

    }
    .tab-pane .bar-black,.tab-pane .subtitle-yellow{
        margin-left:-15px;
        margin-right:-15px;
        width: auto;
    }
    .book .biginfo .tabs .scrollable{
        margin-left:-15px;
        margin-right:-15px;
        padding-left: 5px;
        overflow-x: scroll;
    }
    .image-place .box{
        left: 0px;
    }
    .buttons.mobile{
        float: right;
        width: 61px;
        margin-top: -30px;
    }
    .box-big-card .info .block1 .buttons .button{
        margin-right: 0px;
    }

    .box-big-card{
        width: 100%;
        height: auto;
        border: none;
    }
    .box-big-card .image{
        margin: 0 auto;
        clear: both;
        height: auto;
        max-width: 98%;
        float: none;
    }

    .box-big-card .image img{
        height: auto;
        width: 100%;
    }
    .box-big-card .info{
        margin-left: 0px;
        width: 100%;
    }
    .box-big-card .info .block2 .button_black{
        width: 100%;
    }
    .box-big-card .info .block1{
        width: 100%;
    }

    .box-big-card .info .block2{
        max-width: 98%;
    }
    .box-big-card .info .block2 .price_txt{
        text-align: left;
    }


    .flexslider.foodiestayers .flex-direction-nav .flex-next {
        top:80px;
    }

    .flexslider.foodiestayers .flex-direction-nav .flex-prev {
        top:80px;
    }
    .image-place{
        padding: 0px;
        margin:0px;
    }
    .places .banner-view-text{
        background: rgba(0,0,0,0.4);
        height: 800px;
    }
    .preview img{
        margin: 70px auto 0 !important;
        display: block;
        width: 47px;
    }
    .about .title{
        font-size: 47px;
        margin-top:60px;
    }
    .about .title-text{
        margin-top:24px;
    }
    .about .over-image{
        overflow: hidden;
        margin-top:20px;
        margin-bottom:20px;
    }
    .about .over-image.flexible img{
        max-width: 150%;
        width: 150%;
        height: auto;
        position: relative;
        left: 8%;
    }
    .about .over-image.exclusive img{
        max-width: 150%;
        width: 150%;
        height: auto;
        position: relative;
        left: -37%;

    }
    .about .over-image.ultimate img{
        max-width: 150%;
        width: 150%;
        height: auto;
        position: relative;
        left: -17%;
    }

    .footer_black .copy{
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        font-family: "FS Lucas";
        text-align: center;
        color:#666666;
    }
    .the-places .box{
        padding-bottom:20px;
    }
    .footer_grey form{
        max-width:300px ;
        margin: 0 auto;
        width: 100%;
    }
    .footer_grey form input{
        width: 100%;
    }
    .the-places .box .box-text a{
        float: none;
    }
    .the-places .box .box-text{
        padding: 0px;
    }
    .cover-bg.places {
        height: 256px;
    }
    .cover-bg.places p {
        margin: 42px auto 0px;
        font-size: 36px;
        line-height: 39px;
    }
    .cover-bg.places.places-view p {
        margin: 50px 5% 0px;
        font-size: 30px;
        line-height: 47px;
        font-weight: bold;
        width: 200px;
    }
    .cover-bg.places a {
        margin: 50px auto 0px;
    }
    .places-video{
        /*display: none;*/
        margin-top:-120px;
        -webkit-box-shadow: 3px 3px 34px -1px rgba(0,0,0,0.61);
        -moz-box-shadow: 3px 3px 34px -1px rgba(0,0,0,0.61);
        box-shadow: 3px 3px 34px -1px rgba(0,0,0,0.61);
    }
    .places-video video{
        width: 100%;
        height: auto;
        cursor: pointer;
        margin: 0 auto;
        display: block;



    }
    .sub-title{
        margin-top:40px;
    }

    .cover-bg.home {
        height: 256px;
    }
    .cover-bg.home p {
        margin: 50px auto 0px;
        font-size: 28px;
        line-height: 28px;
    }
    .cover-bg.home a {
        margin: 50px auto 0px;
    }
    .image-place .title{
        font-size: 34px;
        padding-top:20px;
    }

    .description_firts .description{
        max-height: 200px;
        overflow: hidden;
    }
    .description_firts .view_more{
        margin-top: -10px;
        margin-bottom: 20px;
        font-family: "FS Lucas";
        font-weight: bold;
        color:rgba(0,0,0,0.6);
        cursor: pointer;
        text-decoration: underline;
    }
    .description_firts .phrase{
        width: 90%;
        margin: 0 auto;
    }
    .places-view-video .saparator2{
        height: 120px;
        clear: both;
    }
    .food.mobile{
        height: 420px;
    }
    .food .bg{
        width: 100%;
        position: absolute;
        height: 420px;
    }
    .food .box img{
        width: 70px;
        height: 70px;
    }
    .food .box .text .title{
        font-size: 24px;
        line-height: 70px;
    }
    .food .box .description{
        width: 100%;
        clear: both;
        font-family: 'FS Lucas';
        font-size: 32px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 32px;
        padding: 20px 0;
        margin: 0px;
        height: 260px;
    }
    .ambassador{
        margin:40px 0px 0px;

    }
    .ambassador .info-main .text .name{
        line-height: 54px;
    }
    .ambassador .info-main .img-main{
        width: 100%;
        margin:40px auto 5px;
    }
    .ambassador .info-main .text{
        width: 100%;
        overflow: hidden;
        padding-left: 0px;
        padding-top: 40px;
        width: 100%;
        clear: both
    }
    .foodies-places .title{
        padding-bottom: 0px;
    }
    .title-places-view.pos2{
        width: 300px;
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    .title-places-view.pos3{
        margin: 0 auto;
    }
    .title-places-view.pos3 .number{
        text-align: center;
        margin-left: 0px;
    }
    .title-places-view.pos3 .title{
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .title-places-view.pos3 .text{

        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .title-places-view.pos4{
        width: 100%;
        margin: 70px 0px 0px;
    }
    .title-places-view.pos5{
        width: 300px;
        float: none;
        margin:20px auto 80px;
    }
    .title-places-view.pos5 .number{
        text-align: center;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
    .title-places-view.pos5 .title{
        text-align: center;
        margin-top:0px;
    }

    .book .date{
        width: 100%;
    }

    .book .stars{

        width: 100%;

    }

    .book .price{
        width: 100%;
    }

    .book .temperature{
        width: 100%;
    }

}
/*.flexslider.foodiestayers .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}*/
/*.flexslider.foodiestayers .flex-direction-nav .flex-next {background-position: 100% 0; right: 5px; }*/
/*.flexslider.foodiestayers .flex-direction-nav .flex-prev {left: 5px;}*/
/*.flexslider.foodiestayers .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}*/




.navbar-expand-md .navbar-nav .dropdown-menu{
    left: -25px;
}

.dropdown-item:focus, .dropdown-item:hover{
    background:#000000;
    color: white;

}

@media (max-width: 768px){
    .bg-3.box.foodies-places{
        background: transparent;
    }
    .foodies-places .image_bg{
        width: 240px;
    }
    .foodies-places .image_bg .back{
        width: 280px;
        height: 355px;
    }
    .foodies-places .title{
        margin-bottom: 10px;
    }
    .navbar .container {
        max-width: 96%;
    }
    .navbar {
        overflow-x: hidden;
    }


    
}
.form-control{
    border-radius: 0px;
}

.nav-item.active .nav-link {
    color:white;
}

.autor{
    color:#999999;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    margin-top:15px;

}

.preview{
    position: absolute;
    width: 100%;
}
.preview img{
    margin:120px auto 0;
    display: block;

}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.image_day{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 .no_bold{
    display: inline;
    font-weight: normal;

}
.acordeon_bar .bar-black::after{
    background: url(images/ico_close_acordeon.svg) no-repeat 8px 10px;
    width: 35px;
    height: 35px;
    position: relative;
    display: block;
    content: '';
    z-index: 999999;
    float: right;
}
.acordeon_bar.close-hide .content{
    display: none;
}
.acordeon_bar.close-hide .bar-black::after{
    background: url(images/ico_open_acordeon.svg) no-repeat 8px 10px;
}
