{% extends "_base.html" %}
{% block content %}
{{ parent() }}
<div class="container">
    <div class="col-md-6">
        <form method="post">
            <h2>Form Register</h2>
            <fieldset class="form-group">
                <label for="user_identifier">Email address</label>
                <input name="user_identifier" type="email" class="form-control" id="user_identifier"
                       placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
                <label for="user_pass">Password</label>
                <input name="user_pass" type="password" class="form-control" id="user_pass"
                       placeholder="Enter password">
            </fieldset>
            <fieldset class="form-group">
                <label for="user_pass2">Password</label>
                <input type="password" class="form-control" id="user_pass2" placeholder="Enter password">
            </fieldset>
            <input name="AG_ACTION" value="ag_auth::register" type="hidden">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}

{% endblock %}