{% extends "_base.html" %}
{% block content %}
{{ parent() }}
<div class="container">
  <ul class="breadcrumb">
    <li><a href="http://demopavothemes.com/pav_floral/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
    <li><a href="http://demopavothemes.com/pav_floral/index.php?route=account/account">Account</a></li>
    <li><a href="http://demopavothemes.com/pav_floral/index.php?route=account/login">Login</a></li>
  </ul>
  <div class="row">                <div id="content" class="col-sm-9">      <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h2>New Customer</h2>
        <p><strong>Register Account</strong></p>
        <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
        <a href="http://demopavothemes.com/pav_floral/index.php?route=account/register" class="btn btn-primary">Continue</a></div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h2>Returning Customer</h2>
          <p><strong>I am a returning customer</strong></p>
          <form action="http://demopavothemes.com/pav_floral/index.php?route=account/login" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label class="control-label" for="input-email">E-Mail Address</label>
              <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="input-password">Password</label>
              <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control">
              <a href="http://demopavothemes.com/pav_floral/index.php?route=account/forgotten">Forgotten Password</a></div>
              <input type="submit" value="Login" class="btn btn-primary">
              <input type="hidden" name="redirect" value="http://demopavothemes.com/pav_floral/index.php?route=account/transaction">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="column-right" class="hidden-xs col-md-3 col-sm-12 sidebar">
      <div class="list-group">
        <a href="http://demopavothemes.com/pav_floral/index.php?route=account/login" class="list-group-item">Login</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/register" class="list-group-item">Register</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/forgotten" class="list-group-item">Forgotten Password</a>
        <a href="http://demopavothemes.com/pav_floral/index.php?route=account/account" class="list-group-item">My Account</a>
        <a href="http://demopavothemes.com/pav_floral/index.php?route=account/address" class="list-group-item">Address Book</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/wishlist" class="list-group-item">Wish List</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/order" class="list-group-item">Order History</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/download" class="list-group-item">Downloads</a><a href="http://demopavothemes.com/pav_floral/index.php?route=account/recurring" class="list-group-item">Recurring payments</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/reward" class="list-group-item">Reward Points</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/return" class="list-group-item">Returns</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/transaction" class="list-group-item">Transactions</a> <a href="http://demopavothemes.com/pav_floral/index.php?route=account/newsletter" class="list-group-item">Newsletter</a>
      </div>
    </div>
  </div>
</div>




<div class="container">
    <div class="col-md-6">
        <form method="post">
            <h2>Form login</h2>
            <fieldset class="form-group">
                <label for="user_identifier">Email address</label>
                <input name="user_identifer" type="email" class="form-control" id="user_identifier" placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
                <label for="user_pass">Password</label>
                <input name="user_pass" type="password" class="form-control" id="user_pass" placeholder="Enter password">
            </fieldset>
            <input name="AG_ACTION" value="ag_auth::login" type="hidden">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}

{% endblock %}
