<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static_files/favicon.ico">

    <title>{{page_title}}</title>
    <meta name="description" content="{{page_description}}" />


    <!-- FAVICON -->
    <link href="static_files/images/favicon.png" rel="shortcut icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

    <link href="static_files/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="static_files/fonts/stylesheet.css" rel="stylesheet">
    <link href="static_files/pageGeneral.css" rel="stylesheet">




    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="static_files/assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    <script src="static_files/lib/flexslider/jquery.flexslider-min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>

    <!-- Start of foodiestay Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="foodiestay.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
    /*]]>*/</script>
    <!-- End of foodiestay Zendesk Widget script -->

</head>

<body>

    <nav class="navbar navbar-expand-md ">
        <div class="container">
            <a class="navbar-brand" href="{{AG_BASE}}main">
                <img src="static_files/images/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
                <!--<span class="navbar-toggler-icon"></span>-->
                <img src="static_files/images/menu.svg">
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item {% if active_page == 'about'%}active{% endif %}">
                        <a class="nav-link" href="{{AG_BASE}}about">{{i18n.menu_txt_about|raw}}</a>
                    </li>
                    <li class="nav-item dropdown {% if active_page == 'places'%}active{% endif %}" >
                        <a class="nav-link dropdown-toggle" href="{{AG_BASE}}places" aria-expanded="false">
                            {{i18n.menu_txt_places|raw}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for item in places %}
                                <a class="dropdown-item" href="{{AG_BASE}}places/{{item.slug}}">{{item.name|raw}}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="nav-item {% if active_page == 'book'%}active{% endif %}">
                        <a class="nav-link" href="{{AG_BASE}}books/">{{i18n.menu_txt_book|raw}}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if active_page == 'contact'%}active{% endif %}">
                        <a class="nav-link" href="{{AG_BASE}}contact">{{i18n.menu_txt_contact|raw}}</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <div class="separator-nav"></div>
                    </li>

                    {% if ag_auth.logged == 1 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if active_page == 'book'%}account{% endif %} dropdown-toggle" href="#" id="account" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {{i18n.menu_txt_account|raw}}
                        </a>
                        <div class="dropdown-menu perfil-menu" aria-labelledby="account">
                            <a class="dropdown-item" href="{{AG_BASE}}account">
                                {{i18n.menu_txt_profile|raw}}
                                <small>{{i18n.menu_txt_profile_sub_text|raw}}</small>
                            </a>
                            <a class="dropdown-item" href="{{AG_BASE}}user-books-own">
                                {{i18n.menu_txt_bookings|raw}}
                                <small>{{i18n.menu_txt_bookings_sub_text|raw}}</small>
                            </a>
                            <a class="dropdown-item" href="{{AG_BASE}}user-books-save">
                                {{i18n.menu_txt_favorites|raw}}
                                <small>{{i18n.menu_txt_favorites_sub_text|raw}}</small>
                            </a>
                            <div class="m-t-120"></div>
                            <a class="dropdown-item" href="{{AG_BASE}}books">
                                {{i18n.menu_txt_book|raw}}
                            </a>
                            <a class="dropdown-item" href="{{AG_BASE}}contact">
                                {{i18n.menu_txt_contact|raw}}
                            </a>
                            <a class="dropdown-item" href="{{AG_BASE}}about">
                                {{i18n.menu_txt_about|raw}}
                            </a>
                            <a class="dropdown-item" href="{{AG_BASE}}logout">
                                {{i18n.menu_txt_Logout|raw}}
                            </a>

                            <!--<a class="dropdown-item" href="#">MOROCO</a>-->
                            <!--<a class="dropdown-item" href="#">SWIZERLAND</a>-->
                            <!--<a class="dropdown-item" href="#">SPAIN</a>-->
                            <!--<a class="dropdown-item" href="#">FRANCE</a>-->
                            <!--<a class="dropdown-item" href="#">USA</a>-->
                            <!--<a class="dropdown-item" href="#">NORWAY</a>-->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{AG_BASE}}logout">{{i18n.menu_txt_Logout|raw}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{AG_BASE}}login">{{i18n.menu_txt_login|raw}}</a>
                    </li>

                    <li class="nav-item d-none d-md-block">
                        <p class="nav-link fix-margin">{{i18n.menu_txt_or|raw}}</p>
                    </li>
                    <li class="nav-item">
                        <a class="btn-sign" href="{{AG_BASE}}register">{{i18n.menu_txt_sign_up|raw}}</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}



    <footer>

    </footer>


    {% block scripts %}

    {% endblock %}

    <script>
        $(function(){

            $('ul.navbar-nav li.dropdown').hover(function() {
                console.log("hi");
                $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn(200);
            }, function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut(200);
            });
        });

    </script>

</body>

</html>