<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="icon" type="image/png" href="static_files/icos/apple-touch-icon.png"> 
    <link rel="apple-touch-icon" href="static_files/icos/apple-touch-icon.png">

    <meta charset="UTF-8">
    <title>{{page_title}}</title>

    <meta name="description" content="{{page_description}}"/>
    <link type="text/css" rel="stylesheet" href="static_files/dist/bootstrap/css/bootstrap.css">

    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>




    <link rel="stylesheet" href="static_files/lib/Swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="static_files/lib/Swiper/dist/css/swiper.min.css">

    <link type="text/css" rel="stylesheet" href="static_files/pageGeneral.css">



</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{AG_BASE}}">
                             <img src="static_files/svgs/logo.svg" width="50">
                        </a>
                    </li>
                    <li>
                        <a href="{{AG_BASE}}">
                            Home
                        </a>
                    </li>
                    <li class="doubleLine">
                        <a href="{{AG_BASE}}quienes-somos">Link 2</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
{% block content %}

{% endblock %}

<footer>
</footer>
<script src="static_files/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<script src="static_files/dis/bootstrap/js/bootstrap.js"></script>
<script src="static_files/lib/Swiper/dist/js/swiper.js"></script>
<script src="static_files/lib/Swiper/dist/js/swiper.min.js"></script>
<script src="static_files/lib/Swiper/dist/js/swiper.jquery.js"></script>
<script src="static_files/lib/Swiper/dist/js/swiper.jquery.min.js"></script>

<script type="text/javascript" src="static_files/lib/jquery-validation/dist/jquery.validate.js"></script>
{% block scripts %} {% endblock %}
</body>



</html>