{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="container">
    <div class="searcher">
        <div class="d-md-none">
            <div class="box_filters">

            </div>
        </div>
        <p class="info">
            {{i18n.books_txt_banner_text|raw}}
        </p>
        <div class="filter-box d-none d-md-block">
            <form method="post">

                <div class="dropdown">
                    <button class="active">
                        {{i18n.books_txt_search_all|raw}}
                    </button>

                    <input type="hidden" name="date" id="date_picker" style="height: 0px; width:0px; border: 0px;">
                    <button class="dropdown-toggle" id="date_button" type="button" aria-haspopup="true" aria-expanded="false">
                        {{i18n.books_txt_search_date|raw}}
                    </button>

                </div>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="coutnry_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{i18n.books_txt_search_date|raw}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="coutnry_drop">
                        {% for item in places_list %}
                            <a class="dropdown-item" href="#" val="{{item.id}}">{{item.name}}</a>
                        {% endfor %}
                        <!-- <a class="dropdown-item" href="#">Hungary</a>
                        <a class="dropdown-item" href="#">Spain</a>
                        <a class="dropdown-item" href="#">Morocco</a> -->
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="price_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{i18n.books_txt_search_price|raw}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="price_drop">
                        <a class="dropdown-item" href="#">10-20</a>
                        <a class="dropdown-item" href="#">20-30</a>
                        <a class="dropdown-item" href="#">30-40</a>
                        <a class="dropdown-item" href="#">More than 4 days</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{i18n.books_txt_search_duration|raw}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">1 Day</a>
                        <a class="dropdown-item" href="#">2 - 4 Days</a>
                        <a class="dropdown-item" href="#">More than 4 days</a>
                    </div>
                </div>
                <input name="text" placeholder="{{i18n.books_txt_search_input|raw}}" >
            </form>

        </div>
    </div>
</div>



<div class="space40"></div>
<main role="main" class="container">
    <div class="row">
        {% for item in books %}
            {% include 'components/book_large_in_list.html' %}
        {% endfor %}
    </div>
</main><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}


<script>
// Can also be used with $(document).ready()
$( function() {

    var $button = $("#date_button"),
        left = $button.offset().left,
        top = $button.offset().top + $button.height();

    $('#date_picker').datepicker({
        onSelect: function(dateText) {
            $('#date_picker').val(dateText);
            $button.text(dateText);
        },
        beforeShow: function (event, ui) {
            setTimeout(function () {
                ui.dpDiv.css({ left: left, top: top });
            }, 5);
        }
    });

    $button.on("click", function() {
        $("#date_picker").datepicker("show");
    });
    // $("#date_picker").datepicker();
    // $("#date_button").click(function() {
    //     $('#date_picker').show().focus().hide();
    //     // $("#date_picker").datepicker("show");
    // });

} );
</script>
{% endblock %}
