{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="cover-bg places">
    <img src="{{book.banner_image}}" class="bg_image">
</div>
<section class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{AG_BASE}}book">Book</a></li>
        <li class="breadcrumb-item active">{{country}}</li>
    </ol>
    <div class="">
        <div class="book">
            <div class="separator"></div>
            <h1>
                {{book.name|raw}}.
                <p class="no_bold">
                    {{country}}. {% if book.n_days>0 %}
                        {{book.n_days}} days
                    {% elseif item.hours>0 %}
                        {{book.hours}} Hours
                    {% endif  %}
                </p>
            </h1>
            <div class="sub-title">

                {{item.country_name}}
                {% if item.days>0 %}
                - {{item.n_days}} DAYS
                {% endif  %}
            </div>
            <div class="description">
                {{book.description|raw}}
            </div>

            <div class="info">
                <div class="separator"></div>
                <div class="date">
                    <div class="ico">
                        <img src="static_files/images/ico_cal_color.svg">
                    </div>
                    {{book.date_ini}}
                    {% if book.date_end !='' %}
                    al {{book.date_end}}
                    {% endif %}
                </div>
                <div class="stars">
                    <div class="ico"><img src="static_files/images/ico_star.svg"></div> 0
                </div>
                <div class="price">
                    <div class="ico"><img src="static_files/images/ico_euro.svg"></div> {{book.price}}
                </div>
                <div class="temperature">
                    <div class="ico"><img src="static_files/images/ico_temp.svg"></div> {{city.temperature}}°C (average)
                </div>

                <div class="separator"></div>
            </div>

            <div class="price mobile">
                Desde:<br>
                <div class="price" id="price-box-cc2">
                    {{book.price}} <img src="static_files/images/ico_euro.svg">
                </div>
            </div>

            <div class="biginfo">
                <div class="tabs">
                    <div class="scrollable">
                        <ul class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" href="#general" role="tab" data-toggle="tab">
                                    General
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#included" role="tab" data-toggle="tab">
                                    Included
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#options" role="tab" data-toggle="tab">
                                    Optional
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#important" role="tab" data-toggle="tab">
                                    Important
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#optional" role="tab" data-toggle="tab">
                                    Legal Terms
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <div class="bar-black">
                                GENERAL
                            </div>
                            {{book.general_text|raw}}
                            {% if book.list_images|length >0 %}
                            <div class="flexslider apartment">
                                <ul class="slides">
                                    {% for image in book.list_images %}
                                    <li>
                                        <div class="image">
                                            <img src="{{image.image}}">
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            {% if book.type_book == "plans" %}
                                {% for day in book.inners_days %}
                                <div class="acordeon_bar">
                                    <div class="bar-black">
                                        {{loop.index}} Day <small>{{day.name|raw}}</small>
                                    </div>
                                    <div class="content">
                                        {{day.description|raw}}
                                        {% if day.date_ini !=  day.date_end %}
                                            <div class="date">
                                                <img src="static_files/images/ico_cal.svg" class="cal-ico">
                                                {{day.date_ini}}
                                                {% if day.date_end !='' and day.date_end!='0000-00-00' %}
                                                al {{day.date_end}}
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="date">
                                                <img src="static_files/images/ico_clock.svg" class="cal-ico">
                                                {{day.hour_ini}}
                                                {% if day.hour_ini !='' and day.hour_end!='0000-00-00' %}
                                                a {{day.hour_end}}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="image_day"><img src="{{day.list_image}}" class="img-fluid"></div>

                                        {% if day.list_images|length >0 %}
                                        <div class="flexslider apartment">
                                            <ul class="slides">
                                                {% for image in day.list_images %}
                                                <li>
                                                    <div class="image">
                                                        <img src="{{image.image}}">
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}

                            {% endif %}


                            {% if apartments|length %}
                            <div class="book-apartment">
                                <div class="subtitle-yellow">
                                    OPTIONAL APARTAMENT
                                </div>
                                {% for item in apartments %}
                                
                                    <div class="title">
                                        {{item.name|raw}}
                                    </div>
                                    <div class="description">
                                        {{item.description|raw}}
                                    </div>
                                    <div class="flexslider apartment">
                                        <ul class="slides">
                                    {% for image in item.images_list %}
                                        <li>
                                            <div class="image">
                                                <img src="{{image.image}}">
                                            </div>
                                        </li>
                                    {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                                

                                        
                                
                            </div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="included">

                            <div class="acordeon_bar">
                                <div class="bar-black">
                                    INCLUDED
                                </div>
                                <div class="content">
                                    <div class="included-li">
                                        {{book.incluyed_txt|raw}}
                                    </div>
                                </div>
                            </div>
                            <div class="acordeon_bar">
                                <div class="bar-black">
                                    NOT INCLUDED
                                </div>
                                <div class="content">
                                    <div class="no-included-li">
                                        {{book.incluyed_not_txt|raw}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="options">
                            {{book.options_txt|raw}}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="important">
                            {{book.important_txt|raw}}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="optional">
                            {{book.optional_txt|raw}}
                        </div>
                    </div>

                </div>
                <div class="buybox">
                    <form method="post">
                        <div class="bar-black">
                            PRICE
                        </div>
                        <div class="price" id="price-box-cc">
                            {{book.price}} <img src="static_files/images/ico_euro.svg">
                        </div>
                        <div class="dates">
                            <div class="box-text">
                                <div class="block1">
                                    Llegada
                                </div>
                                <div class="block2">
                                    Regreso
                                </div>
                            </div>
                            <div class="box">
                                <div class="block1">

                                    {{book.date_ini}}

                                </div>
                                <div class="block2">
                                    {% if book.date_end !='' %}
                                        {{book.date_end}}
                                    {% else %}
                                        {{book.date_ini}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="persons">
                            <div class="box-text">
                                GUESTS
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="persons" id="select-persons">
                                    {% for i in book.base_price_persons .. book.limit_persons %}
                                        <option value="{{ i }}">{{ i }} Huésped</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="box-text">
                                Optional apartment
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="apartments" id="select-apartments">
                                    <option value="-1" price="0">Sin Alojamiento</option>
                                    {% for item in apartments %}
                                        <option value="{{item.id}}" price="{{item.price}}" >{{item.name|raw}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input name="id_book" value="{{book.id}}" type="hidden">
                            <input name="AG_ACTION" value="reserve" type="hidden">
                            <button class="btn-foodie">ORDER NOW</button>

                            <script>
                                $(window).on('load', function(){
                                    var value = "{{book.price}}";
                                    var inicial_persons = "{{book.base_price_persons}}";
                                    var value_add_person = "{{book.add_person_price}}";
                                    value_add_person = value_add_person>=0?value_add_person:value;
                                    $( "#select-persons" ).change(function() {
                                        update_price();
                                    });
                                    $( "#select-apartments" ).change(function() {
                                        update_price();
                                    });
                                    function update_price(){

                                        value = parseInt(value);
                                        inicial_persons = parseInt(inicial_persons);
                                        value_add_person = parseInt(value_add_person);
                                        // persons
                                        var temp_val=0;
                                        var persons =($( "#select-persons" ).val()-inicial_persons)*value_add_person;
                                        var apartments = $("#select-apartments" ).val();
                                        apartments = $('#select-apartments').find(":selected").attr("price");


                                        persons = parseInt(persons);
                                        apartments = parseInt(apartments);
                                        apartments = apartments>0?apartments:0;
                                        value = parseInt(value);
                                        console.log(persons);
                                        console.log(apartments);

                                        temp_val=persons+apartments+value;

                                        var text = temp_val+"<img src=\"static_files/images/ico_euro.svg\">";
                                        $("#price-box-cc").html(text);
                                        $("#price-box-cc2").html(text);
                                        
                                    }
                                });
                            </script>
                        </div>
                    </form>
                        <div class="box-share">
                            <div class="buttons">
                                <!-- <form method="post">
                                    <a class="button" href="#">
                                        <img src="static_files/images/ico_save.svg" class="save-ico">
                                        Guardar
                                    </a>
                                </form> -->

                                <form method="post">
                                    <input name="book_ref" value="{{book.id}}" type="hidden">
                                    <input name="AG_ACTION" value="save_book" type="hidden">
                                    <button class="button">
                                            <img src="static_files/images/ico_save.svg" class="save-ico">
                                            Save
                                    </button>
                                </form>

                                <a class="button border" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[title]={{book.name|raw}}&p[url]=http://www.foodiestay.com/books/{{book.slug}}&p[images][0]=http://foodiestay.com/{{book.banner_image}}">
                                    <img src="static_files/images/ico_share.svg" class="share-ico">
                                    Share
                                </a>
                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>
</section>
<div class="space80"></div>
<section class="feedback">
    <div class="container">
        <div class="title">FOODIESTAYERS RECOMMEND</div>
        <div class="title-separator"></div>
        <!-- Place somewhere in the <body> of your page -->
        <div class="flexslider foodiestayers">
            <ul class="slides">
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-2 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text">
                                    <div class="description">
                                        “We left the kids with my mother and went to Budapest for 4 days. The day in Eger visiting wineries and enjoying the baths will always stay in my mind. Everybody was so attentive, stories that were told were so touching. A visit to the countryside of Hungary is something to recommend”
                                    </div>
                                    <div class="autor">
                                        Anna Kindling
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-2 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text">
                                    <div class="description">
                                        “A good solution when you want time to discover cities but also want to ensure you eat good food while getting to know local culture”
                                    </div>
                                    <div class="autor">
                                        Elisabeth Torrens
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<section class="container books">
    <div class="row">
        <div class="col-md-12">
            <div class="title">Book other experiences</div>
            <div class="title-separator"></div>
        </div>

        {% for item in books %}
        <div class="col-md-4 box-card">
            <div class="calendar">
                <p class="month">{{item.date_ini|date("M")}}</p>
                <div class="separator"></div>
                <p class="day">{{item.date_ini|date("d")}}</p>
            </div>
            <div class="image-fix-box book">
                <img src="{{item.list_image}}" class="image_box image-fix">
            </div>
            <p class="title">
                {{item.name|raw}}
            </p>
            <div class="sub-title">
                {{item.country_name |raw}}
                {% if item.n_days>0 %}
                - {{item.n_days}} days

                {% else %}
                {% if item.hours>0 %}
                - {{item.hours}} hours
                {% endif  %}
                {% endif %}
            </div>
            <div class="description">
                {{ item.description|length > 210 ? (item.description|slice(0, 210) ~ '...')|raw :item.description|raw}}
            </div>
            <a href="{{AG_BASE}}books/{{item.slug}}" class="url">
                SEE MORE&nbsp;&nbsp;>
            </a>
        </div>
        {% endfor %}
    </div>

</section><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

<script>
    // Can also be used with $(document).ready()
    // $(window).load(function () {
    //     $('.flexslider').flexslider({
    //         animation: "slide",
    //         animationLoop: false,
    //         itemWidth: 210,
    //         itemMargin: 5,
    //         minItems: 2,
    //         maxItems: 4
    //     });
    // });
    $(window).load(function() {
        $('.flexslider.apartment').flexslider({
            animation: "fade"
        });
        $('.flexslider.foodiestayers').flexslider({
            animation: "fade"
        });
    });
</script>

<script>
$(".acordeon_bar").click(function(){
    console.log("HI!!");
    var close  = $(this).attr('close')=="close"?true:false;
    if(close){
        $(this).attr('close',"");
        $(this).removeClass('close-hide');
    }
    else{
        $(this).attr('close',"close");
        $(this).addClass('close-hide');
    }

});
</script>
{% endblock %}
