{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="cover-bg places">
    <img src="static_files/images/contact_bg.png" class="bg_image">
    <div class="box_text contact">
        <p>
            Taste to belong
        </p>
    </div>
</div>

<div class="container">

</div>
<main role="main" class="container contact">
    <div class="row">
        <div class="space20"></div>
        <div class="col-md-7">
            <p class="info" style="display: none">
                // demo TODO <br>
                Hi {{ag_auth.info.name}},<br>
                It looks like you have a reservation<br>
                coming up.
            </p>
            <p class="info">
                Our heart is constantly beating with the most authentic food & people. We want to spread our
                passion around the world.
                Please get in touch if you want to be part of a large and growing community
            </p>
            <div class="d-none d-md-block">
                <div class="row">
                    <div class="col-md-6">
                        <p class="inner_title">COME SAY HI</p>
                        <p class="inner_info_mute">
                            Foodistay<br>
                            Calle de la Palma 60<br>
                            28015 Madrid<br>
                            Spain<br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="inner_title">EMAIL US</p>
                        <a class="email inner_info_mute" href="mailto:hello@foodiestay.com">
                            hello@foodiestay.com
                        </a>

                        <p class="inner_title">EMAIL US</p>
                        <a class="email inner_info_mute" href="mailto:hello@foodiestay.com">
                            hello@foodiestay.com
                        </a>

                    </div>
                    <div class="col-md-6">
                        <p class="inner_title">FOLLOW US</p>
                        <a class="email inner_info_mute" href="mailto:info@foodiestay.com">
                            <img src="static_files/images/ico_contact_facebook.svg">
                        </a>
                        <a class="email inner_info_mute" href="mailto:info@foodiestay.com">
                            <img src="static_files/images/ico_contact_twitter.svg">
                        </a>
                        <a class="email inner_info_mute" href="mailto:info@foodiestay.com">
                            <img src="static_files/images/ico_contact_instagram.svg">
                        </a>

            

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-5">

            <form method="post">
                <div class="form-group">
                    <label for="name_input">Name</label>
                    <input type="text" name="name" class="form-control" id="name_input" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="email_input">Email</label>
                    <input type="text" name="email" class="form-control" id="email_input" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="phone_input">Phone number</label>
                    <input type="text" name="phone" class="form-control" id="phone_input" placeholder="">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" class="form-control" id="subject" placeholder="">
                </div>
                <div class="form-group">
                    <label for="message_input">Message</label>
                    <textarea class="form-control" name="message" id="message_input" placeholder="" required></textarea>
                </div>
                <input name="AG_ACTION" value="contact" type="hidden">
                <button class="btn btn-foodie">Enviar</button>
            </form>

            <div class="row d-md-none">
                <div class="space40"></div>
                <div class="col-md-6">
                    <p class="inner_title">COME SAY HI</p>
                    <p class="inner_info_mute">
                        Foodistay<br>
                        Calle de la Palma 60<br>
                        28015 Madrid<br>
                        Spain<br>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="inner_title">EMAIL US</p>
                    <a class="email inner_info_mute" href="mailto:info@foodiestay.com">
                        info@foodiestay.com
                    </a>
                </div>
            </div>
        </div>


        <div class="space20"></div>
    </div>
</main><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 5,
            minItems: 2,
            maxItems: 4
        });
    });
</script>
{% endblock %}
