{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="cover-bg home">
    <img src="static_files/images/bg_home_mobile.png" class="bg_image d-md-none">
    <video autoplay muted loop id="home_video" class="home_video d-none d-md-block">
        <source src="{{i18n.video_home}}" type="video/mp4">
    </video>
    <div class="box_text">
        <p>
            {{i18n.home_txt_banner|raw}}
            <!-- Discover our culinary <br> experiences packages -->
        </p>
        <a class="btn-white" href="{{AG_BASE}}places" >
            <!-- FIND PLACES X-->
            {{i18n.home_txt_btn_banner|raw}}
        </a>
    </div>
</div>


<div class="space40"></div>
<main role="main" class="container">
        <div class="row ">
            {% for item in books %}
                <div class="col-md-4 box-card d-none d-md-block">
                    <div class="calendar">
                        <p class="month">{{item.date_ini|date("M")}}</p>
                        <div class="separator"></div>
                        <p class="day">{{item.date_ini|date("d")}}</p>
                    </div>
                    <a href="{{AG_BASE}}books/{{item.slug}}">
                        <div class="image-fix-box book">
                            <img src="{{item.list_image}}" class="image_box image-fix">
                        </div>
                    </a>
                    <a href="{{AG_BASE}}books/{{item.slug}}">
                        <p class="title">
                            {{item.name|raw}}
                        </p>
                    </a>
                    <div class="sub-title">
                        {{item.country_name |raw}}
                        {% if item.n_days>0 %}
                            - {{item.n_days}} days

                        {% else %}
                            {% if item.hours>0 %}
                                - {{item.hours}} hours
                            {% endif  %}
                        {% endif %}
                    </div>
                    <div class="description">
                        {{ item.description|length > 110 ? (item.description|slice(0, 110) ~ '...')|raw :item.description|raw}}
                    </div>
                    <a href="{{AG_BASE}}books/{{item.slug}}" class="url">
                        {{i18n.home_txt_books_btn|raw}}&nbsp;&nbsp;>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row ">
            <div class="scroll-label d-none">
                {% for item in books %}
                    <div class="box-card">
                        <div class="calendar">
                            <p class="month">{{item.date_ini|date("M")}}</p>
                            <div class="separator"></div>
                            <p class="day">{{item.date_ini|date("d")}}</p>
                        </div>
                        <div class="image-fix-box book">
                            <img src="{{item.list_image}}" class="image_box image-fix">
                        </div>
                        <p class="title">
                            {{item.name |raw}}
                        </p>
                        <div class="sub-title">
                            {{item.country_name |raw}}
                            {% if item.n_days>1 %}
                                - {{item.n_days}} days

                            {% else %}
                                {% if item.hours>0 %}
                                    - {{item.hours}} hours
                                {% endif  %}
                            {% endif %}

                        </div>
                        <div class="description">
                            {{ item.description|length > 210 ? (item.description|slice(0, 210) ~ '...')|raw :item.description|raw}}
                        </div>
                        <a href="{{AG_BASE}}books/{{item.slug}}" class="url">
                            {{i18n.home_txt_books_btn|raw}}&nbsp;&nbsp;>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="flexslider carrusel d-md-none">
                <ul class="slides">
                {% for item in books %}
                    <li>
                        <div class="box-card">
                            <div class="calendar">
                                <p class="month">{{item.date_ini|date("M")}}</p>
                                <div class="separator"></div>
                                <p class="day">{{item.date_ini|date("d")}}</p>
                            </div>
                            <div class="image-fix-box book">
                                <img src="{{item.list_image}}" class="image_box image-fix">
                            </div>
                            <p class="title">
                                {{item.name |raw}}
                            </p>
                            <div class="sub-title">
                                {{item.country_name |raw}}
                                {% if item.n_days>0 %}
                                    - {{item.n_days}} days

                                {% else %}
                                    {% if item.hours>0 %}
                                    - {{item.hours}} hours
                                    {% endif  %}
                                {% endif %}


                            </div>
                            <div class="description">
                                {{ item.description|length > 210 ? (item.description|slice(0, 210) ~ '...')|raw :item.description|raw}}
                            </div>
                            <a href="{{AG_BASE}}books/{{item.slug}}" class="url">
                                {{i18n.home_txt_books_btn|raw}}&nbsp;&nbsp;>
                            </a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="space20"></div>
        <div class="view_more">
            <a class="btn_see" href="{{AG_BASE}}books/">{{i18n.home_txt_books_btn_all|raw}}</a>
        </div>
        <div class="space40"></div>

</main><!-- /.container -->
<section class="feedback">
    <div class="container">
        <div class="title">{{i18n.home_txt_foodiers_title|raw}}</div>
        <div class="title-separator"></div>
        <!-- Place somewhere in the <body> of your page -->
        <div class="flexslider foodiestayers">
            <ul class="slides">
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="quote_image"><img src="static_files/images/ico_quote.svg"></div>
                                <div class="text">
                                    <div class="description">
                                        “My partner and I booked a private experience in Switzerland. We loved having a hut in the mountains for ourselves and have a romantic dinner there”
                                    </div>
                                    <div class="autor">
                                        Katharina Sigerud
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="quote_image"><img src="static_files/images/ico_quote.svg"></div>
                                <div class="text">
                                    <div class="description">
                                        “We tried Budapest for fours days, we had a Google map with all the places we wanted to visit. And we did. For some hours we joined FoodieStay plans and we absolutely loved the mix of freedom and engagement with the group for food experiences”
                                    </div>
                                    <div class="autor">
                                        Christian Harrys
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="quote_image"><img src="static_files/images/ico_quote.svg"></div>
                                <div class="text">
                                    <div class="description">
                                        “I travelled with two friends to Marrakech. We could see MasterChef Morocco cooking and taste her dishes, she was really kind and close. An experience to remember”
                                    </div>
                                    <div class="autor">
                                        Andrea García
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="quote_image"><img src="static_files/images/ico_quote.svg"></div>
                                <div class="text">
                                    <div class="description">
                                        “My mother and I booked a plan in Zurich. My mums loves chocolate so I thought I surprise her with a workshop to make chocolate. We laughed a lot and enjoyed seeing how Swiss chocolate is made”
                                    </div>
                                    <div class="autor">
                                        Melanie McCalla
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="quote_image"><img src="static_files/images/ico_quote.svg"></div>
                                <div class="text">
                                    <div class="description">
                                        “I took my family for a 4 days trip to Madrid. Our flight was late and we missed the first dinner plan. We were then offered a dinner on a different date, we were surprised with the flexibility”
                                    </div>
                                    <div class="autor">
                                        Karen Young
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <div class="image-box">
                                    <img src="static_files/images/foodie_feedback.png" width="50">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="quote_image"><img src="static_files/images/ico_quote.svg"></div>
                                <div class="text">
                                    <div class="description">
                                        “We were celebrating 1 year together and I decided to book a plan in Paris for my boyfriend and I. He is so into food that I thought he would love it. We found the experiences so different and original that we have booked another one for this summer” 
                                    </div>
                                    <div class="autor">
                                        Christian Erles
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="space20"></div>
</section>

<section class="the-places">
<div class="container">
    <div class="title">{{i18n.home_txt_places|raw}}</div>
    <div class="title-separator"></div>

    <div class="box">
        <div class="image">
            <img src="static_files/demo_images/image_cities.png">
        </div>
        <div class="box-text mr-auto">
            <div class="title">
                Hungary - <br>
                Celebration, Roots and Warmth
            </div>
            <div class="description">
                “Budapest at night - God, that’s something! You have to be there, you need to experience it - no words can describe the ruin bars, the people, the music... the new place in your palate!
            </div>
            <a href="{{AG_BASE}}places">
                READ MORE
            </a>
        </div>
    </div>
</div>
</section>
{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

<script>
    // Can also be used with $(document).ready()
    // $(window).load(function () {
    //     $('.flexslider').flexslider({
    //         animation: "slide",
    //         animationLoop: false,
    //         itemWidth: 210,
    //         itemMargin: 5,
    //         minItems: 2,
    //         maxItems: 4
    //     });
    // });
    $(window).load(function() {
        $('.carrusel.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 310,
            itemMargin: 5,
            // minItems: 1,
            // maxItems: 1
        });
        $('.flexslider.foodiestayers').flexslider({
            animation: "fade"
        });

    });
</script>
{% endblock %}
