{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="cover-bg places places-view ">
    <img src="{{place.banner_image}}" class="bg_image">
    <div class="banner-view-text">
        <p>
            {{place.banner_text}}
        </p>
    </div>
</div>


<div class="space40"></div>
<section  class="container places-view">
    <div class="title-places-view pos1">
        <div class="number">
            01
        </div>
        <div class="title">
            {{i18n.places_view_txt_01_title|raw}}
        </div>
        <div class="text">
            {{i18n.places_view_txt_01_text|raw}}
        </div>
    </div>
    <div class="space40"></div>
    <div class="description_firts row">
        <div class="col-md-6">
            <div class="title">
                {{place.main_title_1|raw}}
            </div>
            <div class="description" id="box_1">
                {{place.main_text_1|raw}}
            </div>
            <div class="view_more d-md-none" id="open_box_1">
                {{i18n.places_view_txt_see_more}}|raw >
            </div>
        </div>
        <div class="col-md-6">
            <div class="title">
                {{place.main_title_2|raw}}
            </div>
            <div class="description" id="box_2">
                {{place.main_text_2|raw}}
            </div>
            <div class="view_more d-md-none" id="open_box_2">
                {{i18n.places_view_txt_see_more}}|raw >
            </div>
        </div>
        <div class="phrase">
            {{place.main_phrase|raw}}
        </div>
        <div class="space20"></div>
    </div>
</section>
<section  class="places-view">
    <!-- Food  desktop -->
    <div class="food d-none d-md-block">
        <img class="bg" src="{{place.items_food_background}}">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <img src="{{place.items_food_1_image}}">
                    <div class="text">
                        <div class="title">
                            {{place.items_food_1_title|raw}}
                        </div>
                        <div class="description">
                            {{place.items_food_1_description|raw}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <img src="{{place.items_food_2_image}}">
                    <div class="text">
                        <div class="title">
                            {{place.items_food_2_title|raw}}
                        </div>
                        <div class="description">
                            {{place.items_food_2_description|raw}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <img src="{{place.items_food_3_image}}">
                    <div class="text">
                        <div class="title">
                            {{place.items_food_3_title|raw}}
                        </div>
                        <div class="description">
                            {{place.items_food_3_description|raw}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <img src="{{place.items_food_4_image}}">
                    <div class="text">
                        <div class="title">
                            {{place.items_food_4_title|raw}}
                        </div>
                        <div class="description">
                            {{place.items_food_4_description|raw}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <img src="{{place.items_food_5_image}}">
                    <div class="text">
                        <div class="title">
                            {{place.items_food_5_title|raw}}
                        </div>
                        <div class="description">
                            {{place.items_food_5_description|raw}}
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="box">
                    <img src="{{place.items_food_6_image}}">
                    <div class="text">
                        <div class="title">
                            {{place.items_food_6_title|raw}}
                        </div>
                        <div class="description">
                            {{place.items_food_6_description|raw}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="food mobile d-md-none">
        <img class="bg" src="{{place.items_food_background}}">
        <div class="flexslider list_food">
            <ul class="slides">
                <li class="">
                    <div class="box food">
                        <img src="{{place.items_food_1_image}}">
                        <div class="text">

                            <div class="title">
                                {{place.items_food_1_title|raw}}
                            </div>

                        </div>
                        <div class="description">
                            {{place.items_food_1_description|raw}}
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="box">
                        <img src="{{place.items_food_2_image}}">
                        <div class="text">
                            <div class="title">
                                {{place.items_food_2_title|raw}}
                            </div>
                        </div>
                        <div class="description">
                            {{place.items_food_2_description|raw}}
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="box">
                        <img src="{{place.items_food_3_image}}">
                        <div class="text">
                            <div class="title">
                                {{place.items_food_3_title|raw}}
                            </div>
                        </div>
                        <div class="description">
                            {{place.items_food_3_description|raw}}
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="box">
                        <img src="{{place.items_food_4_image}}">
                        <div class="text">
                            <div class="title">
                                {{place.items_food_4_title|raw}}
                            </div>

                        </div>
                        <div class="description">
                            {{place.items_food_4_description|raw}}
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="box">
                        <img src="{{place.items_food_5_image}}">
                        <div class="text">
                            <div class="title">
                                {{place.items_food_5_title|raw}}
                            </div>
                        </div>
                        <div class="description">
                            {{place.items_food_5_description|raw}}
                        </div>
                    </div>

                </li>
                <li class="">
                    <div class="box">
                        <img src="{{place.items_food_6_image}}">
                        <div class="text">
                            <div class="title">
                                {{place.items_food_6_title|raw}}
                            </div>
                        </div>
                        <div class="description">
                            {{place.items_food_6_description|raw}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>
<section class="container places-view">
    <!-- Food -->
    <div class="places-view-video">
        <div class="saparator1"></div>
        <div class="places-video" style="position:relative;" onclick="playPause(); return false;">
            <!--<img src="static_files/images/video_places.png">-->
            <div class="preview">
                <img src="static_files/images/ico_play.svg">
            </div>
            <video muted loop id="places_video" class="home_video">
                <source src="{{place.video}}#t=1" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
        </div>
        <div class="saparator2"></div>
    </div>





    <div class="ambassador">
        <div class="title-places-view pos2">
            <div class="number">
                02
            </div>
            <div class="title">
                {{i18n.places_view_txt_02_title|raw}}
            </div>
            <div class="text">
                {{i18n.places_view_txt_02_text|raw}}
            </div>
        </div>

        <div class="info-main">
            <img src="{{place.ambassador_image}}" class="img-main">
            <a href="mailto::{{place.ambassador_email}}" class="d-md-none">
                <img src="static_files/images/email_ico.svg">
            </a>
            <div class="text">
                <div class="name">
                    {{place.ambassador_name|raw}}
                </div>
                <div class="description">
                    {{place.ambassador_description|raw}}
                </div>
                <a href="mailto::{{place.ambassador_email}}" class="d-none d-md-block">
                    <img src="static_files/images/email_ico.svg">
                </a>
            </div>
        </div>
    </div>

    <!-- essentials -->
    <div class="essentials">
        <div class="title-places-view pos3">
            <div class="number">
                03
            </div>
            <div class="title">
                {{i18n.places_view_txt_03_title|raw}}
            </div>
            <div class="text">
                {{i18n.places_view_txt_03_text|raw}}
            </div>
        </div>
        <div class="essentials-list row d-md-none">
            <div class="flexslider flex-essentials">
                <ul class="slides">

                    <li class="box">
                        <div class="box-image">
                            <img src="{{place.essentials_1_image}}">
                        </div>
                        <div class="title">
                            {{place.essentials_1_title|raw}}
                        </div>
                        <div class="sub-title">
                            {{place.essentials_1_sub_title|raw}}
                        </div>
                        <div class="description">
                            {{place.essentials_1_description|raw}}
                        </div>

                    </li>
                    <li class="box">
                        <div class="box-image">
                            <img src="{{place.essentials_2_image}}">
                        </div>
                        <div class="title">
                            {{place.essentials_2_title|raw}}
                        </div>
                        <div class="sub-title">
                            {{place.essentials_2_sub_title|raw}}
                        </div>
                        <div class="description">
                            {{place.essentials_2_description|raw}}
                        </div>

                    </li>
                    <li class="box">
                        <div class="box-image">
                            <img src="{{place.essentials_3_image}}">
                        </div>
                        <div class="title">
                            {{place.essentials_3_title|raw}}
                        </div>
                        <div class="sub-title">
                            {{place.essentials_3_sub_title|raw}}
                        </div>
                        <div class="description">
                            {{place.essentials_3_description|raw}}
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="essentials-list d-none d-md-block">
            <div class="row">
                <div class="box col-md-4">
                    <div class="box-image">
                        <img src="{{place.essentials_1_image}}">
                    </div>
                    <div class="title">
                        {{place.essentials_1_title|raw}}
                    </div>
                    <div class="sub-title">
                        {{place.essentials_1_sub_title|raw}}
                    </div>
                    <div class="description">
                        {{place.essentials_1_description|raw}}
                    </div>

                </div>
                <div class="box col-md-4">
                    <div class="box-image">
                        <img src="{{place.essentials_2_image}}">
                    </div>
                    <div class="title">
                        {{place.essentials_2_title|raw}}
                    </div>
                    <div class="sub-title">
                        {{place.essentials_2_sub_title|raw}}
                    </div>
                    <div class="description">
                        {{place.essentials_2_description|raw}}
                    </div>

                </div>
                <div class="box col-md-4">
                    <div class="box-image">
                        <img src="{{place.essentials_3_image}}">
                    </div>
                    <div class="title">
                        {{place.essentials_3_title|raw}}
                    </div>
                    <div class="sub-title">
                        {{place.essentials_3_sub_title|raw}}
                    </div>
                    <div class="description">
                        {{place.essentials_3_description|raw}}
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- end -->
    <div class="foodies-places">
        <div class="saparator1 d-none d-md-block"></div>
        <div class="title-places-view pos4">
            <div class="number">
                04
            </div>
            <div class="title">
                {{i18n.places_view_txt_04_text|raw}}
            </div>
            <div class="text">
                {{i18n.places_view_txt_04_text|raw}}
            </div>
        </div>
        <div class="saparator2 d-none d-md-block"></div>
    </div>


    </div>
</section>
<div class="bg-3 box foodies-places">
    <div class="container">
        <div class="title">
                {{i18n.places_view_txt_04_text_2|raw}}
        </div>


        <div class="flexslider flex-foodiers d-md-none">
            <ul class="slides">
                {% for item in place.foodiers %}
                    <li class="item">
                        <div class="image_bg">
                            <div class="back"></div>
                            <img src="{{item.image}}">
                        </div>
                        <div class="title">
                            {{item.title|raw}}
                        </div>
                        <div class="description">
                            {{item.description|raw}}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-none d-md-block">
            <div class="row">
                {% for item in place.foodiers %}
                    <div class="col-md-3 item">
                        <div class="image_bg">
                            <div class="back"></div>
                            <img src="{{item.image}}">
                        </div>
                        <div class="title">
                            {{item.title|raw}}
                        </div>
                        <div class="description">
                            {{item.description|raw}}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<div class="space20 d-md-none"></div>
<div class="space80 d-none d-md-block"></div>
<section class="container">
    <div class="title-places-view pos5">
        <div class="number">
            05
        </div>
        <div class="title">
            {{i18n.places_view_txt_05_title|raw}}
        </div>
        <div class="text">
            {{i18n.places_view_txt_05_text|raw}}
        </div>
    </div>

    <div class="space10 d-md-none"></div>

    <div class="row">
        {% for item in books %}
        <div class="col-md-6 box-card">
            <div class="calendar">
                <p class="month">{{item.date_ini|date("M")}}</p>
                <div class="separator"></div>
                <p class="day">{{item.date_ini|date("d")}}</p>
            </div>
            <div class="image-fix-box book">
                <img src="{{item.list_image}}" class="image_box image-fix">
            </div>
            <p class="title">
                {{item.name|raw}}
            </p>
            <div class="sub-title">
                {{item.country_name |raw}}
                {% if item.n_days>0 %}
                - {{item.n_days}} days

                {% else %}
                {% if item.hours>0 %}
                - {{item.hours}} hours
                {% endif  %}
                {% endif %}
            </div>
            <div class="description">
                {{ item.description|length > 210 ? (item.description|slice(0, 210) ~ '...')|raw :item.description|raw}}
            </div>
            <a href="{{AG_BASE}}books/{{item.slug}}" class="url">
                {{i18n.places_view_txt_see_more}}&nbsp;&nbsp|raw;>
            </a>
        </div>
        {% endfor %}
    </div>
</section><!-- /.container -->
<div class="space40"></div>
{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            // itemWidth: 210,
            // itemMargin: 5,
            minItems: 1,
            maxItems: 4,
            autoplay:false
        });

    });
</script>

<script>
    $(window).load(function () {
        $("#open_box_1").click(function () {
            console.log("hi!");
            $("#box_1").css("max-height", "initial");
            $("#open_box_1").fadeOut();
        });

        $("#open_box_2").click(function () {
            console.log("hi!");
            $("#box_2").css("max-height", "initial");
            $("#open_box_2").fadeOut();
        });
    });
</script>

<script>
    var myVideo = document.getElementById("places_video");

    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }
</script>
<script>
    // Can also be used with $(document).ready()
    //     $(window).load(function() {
    //         $('.flexslider').flexslider({
    //             animation: "slide",
    //             animationLoop: false,
    //             itemWidth: 210,
    //             itemMargin: 5,
    //             minItems: 2,
    //             maxItems: 4
    //         });
    //     });
</script>

<script>
    $(window).load(function () {
        $('.flexslider.flex-places').flexslider({
            animation: "fade",
            minItems: 1,
            maxItems: 1
        });

    });
</script>

<script>
    var video = document.getElementById("places_video");

    function playPause() {
        console.log("run");
        if (video.paused) {
            $(".preview").fadeOut();
            video.play();
        }
        else {
            $(".preview").fadeIn();
            video.pause();
        }
    }
</script>
{% endblock %}
