{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="cover-bg places">
    <img src="{{i18n.place_img_banner}}" class="bg_image">
    <div class="box_text">
        <p>
            {{i18n.places_txt_banner|raw}}
        </p>
    </div>
</div>

<div class="places-video">
    <!--<img src="static_files/images/video_places.png">-->

    <div style="position:relative;" onclick="playPause(); return false;">
        <div class="preview">
            <img src="static_files/images/ico_play.svg">
        </div>
        <video muted loop id="places_video" class="home_video">
            <source src="{{i18n.place_video}}" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
        </video>

    </div>
</div>

<div class="container mt-5">
    <div class="sub-title">
        <h3>
            {{i18n.places_txt_title|raw}}
        </h3>
        <p>
            {{i18n.places_txt_text|raw}}
        </p>
    </div>
</div>

<div class="space40"></div>
<main role="main" class="container list-places">
    <div class="row">
        {% for item in places_list %}
        <div class="col-{{item.collage_size}} image-place d-none d-md-block">
            <a href="{{AG_BASE}}places/{{item.slug}}">
                <img src="{{item.collage_image}}">
                <div class="box">
                    <div class="inner-box">
                        <p class="title">
                            {{item.name|raw}}
                        </p>
                        <div class="separator"></div>
                        <p class="text">
                            {{item.main_phrase|raw}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="flexslider flex-places d-md-none">
        <ul class="slides">
            {% for item in places_list %}
            <li>
                <div class="image-place mobile">
                    <a href="{{AG_BASE}}places/{{item.slug}}">
                        <img src="{{item.collage_image}}">
                        <div class="box">
                            <div class="inner-box">
                                <p class="title">
                                    {{item.name|raw}}
                                </p>
                                <div class="separator"></div>
                                <p class="text">
                                    {{item.main_phrase|raw}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}
<script>
    var myVideo = document.getElementById("places_video");

    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }
</script>
<script>
    // Can also be used with $(document).ready()
    //     $(window).load(function() {
    //         $('.flexslider').flexslider({
    //             animation: "slide",
    //             animationLoop: false,
    //             itemWidth: 210,
    //             itemMargin: 5,
    //             minItems: 2,
    //             maxItems: 4
    //         });
    //     });
</script>

<script>
    $(window).load(function () {
        $('.flexslider.flex-places').flexslider({
            animation: "fade",
            minItems: 1,
            maxItems: 1
        });

    });
</script>

<script>
    var video = document.getElementById("places_video");

    function playPause() {
        console.log("run");
        if (video.paused) {
            $(".preview").fadeOut();
            video.play();
        }
        else {
            $(".preview").fadeIn();
            video.pause();
        }
    }
</script>
{% endblock %}
