{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="container">
    <div class="searcher">
        <p class="info">
           My Bookings
        </p>
        <div class="filter-box">


        </div>
    </div>
</div>



<div class="space40"></div>
<main role="main" class="container">
    <div class="row">
        {% for item in books %}
        <div class="box-card box-big-card">
            <div class="image">
                <div class="calendar">
                    <p class="month">{{item.date_ini|date("M")}}</p>
                    <div class="separator"></div>
                    <p class="day">{{item.date_ini|date("d")}}</p>
                </div>
                <img src="{{item.list_image}}">
            </div>
            <div class="info">
                <div class="block1">
                    {% if item.date_ini !=  item.date_end %}
                        <div class="date">
                            <img src="static_files/images/ico_cal.svg" class="cal-ico">
                            {{item.date_ini}}
                            {% if item.date_end !='' and item.date_end!='0000-00-00' %}
                               al {{item.date_end}}
                            {% endif %}
                        </div>
                    {% else %}
                    <div class="date">
                        <img src="static_files/images/ico_clock.svg" class="cal-ico">
                        {{item.hour_ini}}
                        {% if item.hour_ini !='' and item.hour_end!='0000-00-00' %}
                            a {{item.hour_end}}
                        {% endif %}
                    </div>
                    {% endif %}
                    <p class="title">
                        {{item.name|raw}}
                    </p>
                    <div class="sub-title">
                        {{item.country_name}}
                        {% if item.days>0 %}
                        - {{item.n_days}} DAYS
                        {% endif  %}
                    </div>
                    <div class="description">
                        {{ item.description|length > 120 ? (item.description|slice(0, 120) ~ '...')|raw :item.description|raw}}
                    </div>

                </div>
                <div class="separator"></div>
                <div class="block2">
                    <div class="price_txt">
                        Precio
                        <span>Pago: {{item.state_payment}}</span>
                    </div>
                    <div class="price">
                        {{item.final_full_price}} <img src="static_files/images/ico_euro.svg">
                    </div>

                    <a class="button_black" href="{{AG_BASE}}reserves/{{item.id_reserve}}">
                        SEE DETAILS
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}


<script>
// Can also be used with $(document).ready()
$( function() {

    var $button = $("#date_button"),
        left = $button.offset().left,
        top = $button.offset().top + $button.height();

    $('#date_picker').datepicker({
        onSelect: function(dateText) {
            $('#date_picker').val(dateText);
            $button.text(dateText);
        },
        beforeShow: function (event, ui) {
            setTimeout(function () {
                ui.dpDiv.css({ left: left, top: top });
            }, 5);
        }
    });

    $button.on("click", function() {
        $("#date_picker").datepicker("show");
    });
    // $("#date_picker").datepicker();
    // $("#date_button").click(function() {
    //     $('#date_picker').show().focus().hide();
    //     // $("#date_picker").datepicker("show");
    // });

} );
</script>
{% endblock %}
