{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="container info-person">
    <div class="row">
        <div class="col-md-6">
            <div class="image">
                <img src="{{ag_auth.user_info.photo}}">
            </div>
            <div class="info">
                <div class="name">{{ag_auth.user_info.name |raw}}<br> {{ag_auth.user_info.last_name |raw}}</div>
                <div class="email">{{ag_auth.user_info.email}}</div>
            </div>
            <div class="edit">
                <img src="static_files/images/ico_edit.svg">
            </div>

            <div class="space20"></div>

            <form id="form_register" method="post" class="form-update">
                <h2 class="float-left">Update</h2>
                <div class="clearfix "></div>
                <fieldset class="form-group mt-4">
                    <!--<label for="name">Name</label>-->
                    <input name="name" type="text" class="form-control"
                           placeholder="Name" required value="{{ag_auth.user_info.name |raw}}">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="last_name">Last Name</label>-->
                    <input name="last_name" type="text" class="form-control"
                           placeholder="Last Name" required value="{{ag_auth.user_info.last_name |raw}}">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="user_identifier">Email address</label>-->
                    <input name="phone" type="text" class="form-control"
                           placeholder="Phone" value="{{ag_auth.user_info.phone}}" required>
                </fieldset>
                <fieldset class="form-group mt-4">
                    <!--<label for="name">Name</label>-->
                    <select class="form-control" name="lang">
                        {{html_languages|raw}}
                    </select>
                </fieldset>
                <input name="AG_ACTION" value="udpate_user" type="hidden">
                <div class="mt-4"></div>
                <button type="submit" class="btn-black">Continue</button>
            </form>

            <!--<div class="space20"></div>-->

            <!--<form id="form_update_pass" method="post" class="form-update">-->
                <!--<h2 class="float-left">Change password</h2>-->
                <!--<div class="clearfix "></div>-->
                <!--<fieldset class="form-group">-->
                    <!--&lt;!&ndash;<label for="user_pass">Password</label>&ndash;&gt;-->
                    <!--<input name="user_pass" type="password" class="form-control" id="user_pass"-->
                           <!--placeholder="Password" required>-->
                <!--</fieldset>-->
                <!--<fieldset class="form-group">-->
                    <!--&lt;!&ndash;<label for="user_pass2">Confirm Password</label>&ndash;&gt;-->
                    <!--<input type="password" class="form-control" name="user_pass2" id="user_pass2" placeholder="Confirm Password" required>-->
                <!--</fieldset>-->
                <!--<input name="AG_ACTION" value="ag_auth::register" type="hidden">-->
                <!--<div class="mt-4"></div>-->
                <!--<button type="submit" class="btn-black">Continuar</button>-->
            <!--</form>-->
        </div>
        <div class="col-md-6">

            <a class="url" href="{{AG_BASE}}user-books-own">
                <div class="title">
                    MY BOOKINGS
                </div>
                <span>
                    View, Modify or Cancel your bookings
                </span>
                <img src="static_files/images/ico_next_black.svg" class="btn_next">
            </a>

            <a class="url" href="{{AG_BASE}}user-books-save">
                <div class="title">
                    MY FAVORITES
                </div>
                <span>
                    Your saved experiences
                </span>
                <img src="static_files/images/ico_next_black.svg" class="btn_next">
            </a>


        </div>
    </div>
</div>
<div class="space40"></div>

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}


<script>
// Can also be used with $(document).ready()
$( function() {

    var $button = $("#date_button"),
        left = $button.offset().left,
        top = $button.offset().top + $button.height();

    $('#date_picker').datepicker({
        onSelect: function(dateText) {
            $('#date_picker').val(dateText);
            $button.text(dateText);
        },
        beforeShow: function (event, ui) {
            setTimeout(function () {
                ui.dpDiv.css({ left: left, top: top });
            }, 5);
        }
    });

    $button.on("click", function() {
        $("#date_picker").datepicker("show");
    });
    // $("#date_picker").datepicker();
    // $("#date_button").click(function() {
    //     $('#date_picker').show().focus().hide();
    //     // $("#date_picker").datepicker("show");
    // });

} );
</script>
{% endblock %}
