{% extends "_base.html" %} {% block content %} {{ parent() }}

<section class="container">

    <div class="">
        <div class="book">

            <div class="biginfo">
                <div class="tabs process ">

                    <div class="bar-black">
                        ORDER SUMMARY
                    </div>
                    <div class="info">

                        <div class="title">
                            {{book.name|raw}}
                        </div>
                        <div class="ico-infos">
                            <div class="box-img">
                                <img src="static_files/images/ico_cal_color.svg">
                            </div>
                            {{book.date_ini}}
                                {% if book.date_end !='' and book.date_end != book.date_ini %}
                                al {{book.date_end}}
                            {% endif %}
                            <br>
                            <div class="box-img">
                                <img src="static_files/images/ico_person.svg">
                            </div>
                            {{user_buy.number_persons}}
                        </div>
                        <div class="separator"></div>

                        <!--<div class="box-value">-->
                            <!--<div class="text">-->
                                <!--Subtotal-->
                            <!--</div>-->
                            <!--<div class="value ">-->
                                <!--{{user_buy.final_full_price}} €-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="separator"></div>
                        {% if user_buy.cancellation == "on" %}
                        <div class="box-value">
                            <div class="text">
                                <input type="checkbox" name="cc" id="check_secure" checked disabled>
                                <label for="check_secure">Cancellation insurance</label>
                            </div>
                            <div class="value">
                                {{user_buy.price_cancellation}} €
                            </div>
                        </div>

                        <div class="separator"></div>
                        {% endif %}


                        {% if user_buy.apartment == "on" %}
                        <div class="box-value">
                            <div class="text">
                                <input type="checkbox" name="cc" id="check_apartments" disabled checked>
                                <label for="check_apartments">{{apartment.name|raw}}</label>
                            </div>
                            <div class="value">
                                {{user_buy.price_apartment}} €
                            </div>
                        </div>

                        <div class="separator"></div>
                        {% endif %}


                        <!--<div class="box-value">-->
                        <!--<div class="text">-->
                        <!--<input type="checkbox" name="cc">-->
                        <!--Add a top end apartament <br>-->
                        <!--Central, new or renovated spacious, quiet-->
                        <!--</div>-->
                        <!--<div class="value">-->
                        <!--450 €-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="separator"></div>-->
                        {% if user_buy.private =="on" %}
                        <div class="box-value">
                            <div class="text">
                                <input type="checkbox" id="check_private" name="cc" disabled checked>
                                I want this experience to be private <br>
                            </div>
                            <div class="value">
                                {{user_buy.price_private}} €
                            </div>
                        </div>

                        {% endif %}


                        <div class="separator"></div>

                        <div class="box-value">
                            <div class="text ">
                                <img src="static_files/images/ico_euro.svg">
                                Total account
                            </div>
                            <div class="value price box_final_price">
                                {{user_buy.final_full_price}} <div class="symbol">€</div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="buybox">

                    <div class="bar-black">
                        PRICE
                    </div>
                    <div class="price box_final_price">
                        {{user_buy.final_full_price}} <img src="static_files/images/ico_euro.svg">
                    </div>

                    <div class="persons">
                        <form method="post">
                            <input name="id_book" value="{{book.id}}" type="hidden">
                            <input name="type_book" value="{{type_book}}" type="hidden">
                            <input name="AG_ACTION" value="cancel_own" type="hidden">
                            <button class="cancel-a">CANCEL BOOKING</button>
                        </form>


                    </div>
                    <div class="box-share">
                        <div class="buttons">
                            <form method="post">
                                <a class="button" href="#">
                                    <img src="static_files/images/ico_save.svg" class="save-ico">
                                    Save
                                </a>
                            </form>
                            <a class="button border" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[title]={{book.name|raw}}&p[url]=http://www.foodiestay.com/books/{{book.slug}}&p[images][0]=http://foodiestay.com/{{book.banner_image}}">
                                <img src="static_files/images/ico_share.svg" class="share-ico">
                                Share
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>


{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

{% endblock %}
