{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="container">
    <div class="searcher">
        <p class="info">
            Your favorites
        </p>
        <div class="filter-box">


        </div>
    </div>
</div>



<div class="space40"></div>
<main role="main" class="container">
    <div class="row">

        {% for item in books %}
            {% include 'components/book_large_in_list.html' %}
        {% endfor %}
    </div>
</main><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}


<script>
// Can also be used with $(document).ready()
$( function() {

    var $button = $("#date_button"),
        left = $button.offset().left,
        top = $button.offset().top + $button.height();

    $('#date_picker').datepicker({
        onSelect: function(dateText) {
            $('#date_picker').val(dateText);
            $button.text(dateText);
        },
        beforeShow: function (event, ui) {
            setTimeout(function () {
                ui.dpDiv.css({ left: left, top: top });
            }, 5);
        }
    });

    $button.on("click", function() {
        $("#date_picker").datepicker("show");
    });
    // $("#date_picker").datepicker();
    // $("#date_button").click(function() {
    //     $('#date_picker').show().focus().hide();
    //     // $("#date_picker").datepicker("show");
    // });

} );
</script>
{% endblock %}
