{% extends "_base.html" %} {% block content %} {{ parent() }}

<div class="cover-bg places">
    <img src="static_files/images/contact_bg.png" class="bg_image">
    <div class="box_text">
        <p>
            Payment Fail<br><br>
            <small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </small>
        </p>
    </div>
</div>

<div class="container">

</div>


{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

{% endblock %}
