{% extends "_base.html" %} {% block content %} {{ parent() }}

<section class="container">

    <div class="">
        <div class="book">

            <div class="biginfo">
                <div class="tabs process ">

                    <div class="bar-black">
                        ORDER SUMMARY
                    </div>
                    <div class="info">

                        <div class="title">
                            {{book.name|raw}}
                        </div>
                        <div class="ico-infos">
                            <div class="box-img">
                                <img src="static_files/images/ico_cal_color.svg">
                            </div>
                            {{book.date_ini}}
                            {% if book.date_end !='' %}
                            al {{book.date_end}}
                            {% endif %}
                            <br>
                            <div class="box-img">
                                <img src="static_files/images/ico_person.svg">
                            </div>
                            {{persons_raw}}
                        </div>
                        <div class="separator"></div>

                        <div class="box-value">
                            <div class="text">
                                Subtotal
                            </div>
                            <div class="value ">
                                {{full_price}} €
                            </div>
                        </div>

                        <div class="separator"></div>
                        {% if book.option_secure=="on" %}
                            <div class="box-value">
                                <div class="text">
                                    <input type="checkbox" name="cc" id="check_secure">
                                    <label for="check_secure">Add cancellation insurance for ({{book.cancellation_person_price}} €/P)</label>
                                </div>
                                <div class="value">
                                    {{book.cancellation_person_price*persons_raw}} €
                                </div>
                            </div>

                            <div class="separator"></div>
                        {% endif %}


                        {% if apartment %}
                            <div class="box-value">
                                <div class="text">
                                    <input type="checkbox" name="cc" id="check_apartments" checked>
                                    <label for="check_apartments">Add <b>{{apartment.name|raw}}</b></label>
                                </div>
                                <div class="value">
                                    {{apartment.price}} €
                                </div>
                            </div>

                            <div class="separator"></div>
                        {% endif %}


                        <!--<div class="box-value">-->
                        <!--<div class="text">-->
                        <!--<input type="checkbox" name="cc">-->
                        <!--Add a top end apartament <br>-->
                        <!--Central, new or renovated spacious, quiet-->
                        <!--</div>-->
                        <!--<div class="value">-->
                        <!--450 €-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="separator"></div>-->
                        {% if book.option_private_experience =="on" %}
                            <div class="box-value">
                                <div class="text">
                                    <input type="checkbox" id="check_private" name="cc">
                                    I want this expereince to be private <br>
                                    (only for me/my family/friends)
                                </div>
                                <div class="value">
                                    {{book.private_price}} €
                                </div>
                            </div>

                        {% endif %}


                        <div class="separator"></div>

                        <div class="box-value">
                            <div class="text ">
                                <img src="static_files/images/ico_euro.svg">
                                Total account
                            </div>
                            <div class="value price box_final_price">
                                {{full_price}} <div class="symbol">€</div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="buybox">

                    <div class="bar-black">
                        PRICE
                    </div>
                    <div class="price box_final_price">
                        0 <img src="static_files/images/ico_euro.svg">
                    </div>

                    <div class="persons">
                        <form method="post">
                            <input id="input_cancellation" name="cancellation" value="" type="hidden">
                            <input id="input_apartment" name="apartment" value="" type="hidden">
                            <input id="input_private" name="private" value="" type="hidden">
                            

                            <input name="AG_ACTION" value="check_out" type="hidden">
                            <button class="btn-foodie">CHECK OUT</button>
                        </form>
                        <form method="post">
                            <input name="id_book" value="{{book.id}}" type="hidden">
                            <input name="type_book" value="{{type_book}}" type="hidden">
                            <input name="AG_ACTION" value="cancel" type="hidden">
                            <button class="cancel-a">CANCEL BOOKING</button>
                        </form>

                        <script>
                            $(window).on('load', function(){
                                var value = "{{full_price}}";
                                value = parseInt(value);
                                value = value>=0?value:0;
                                var value_add_person = "{{reseve_book_price_add_persons}}";
                                value_add_person = parseInt(value_add_person);
                                value_add_person  = value_add_person >=0?value_add_person :0;
                                var value_apartment = "{{reseve_apartemnt}}";
                                value_apartment = parseInt(value_apartment);
                                value_apartment  = value_apartment >=0?value_apartment :0;
                                var value_private = "{{reseve_private}}";
                                value_private = parseInt(value_private);
                                value_private  = value_private >=0?value_private :0;
                                var value_cancellation = "{{reseve_cancellation}}";
                                value_cancellation = parseInt(value_cancellation);
                                value_cancellation  = value_cancellation >=0?value_cancellation :0;


                                $( "#check_secure" ).change(function() {
                                    update_price();
                                });
                                $( "#check_apartments" ).change(function() {
                                    update_price();
                                });
                                $( "#check_private" ).change(function() {
                                    update_price();
                                });
                                update_price();
                                function update_price(){
                                    // persons
                                    var temp_val=0;
                                    temp_val+=value;



                                    // check secure
                                    var ch= $('#check_secure').is(":checked");
                                    console.log(ch);
                                    if(ch){
                                        temp_val+=value_cancellation;
                                        // change input
                                        $("#input_cancellation").val('on');
                                    }
                                    else{
                                        $("#input_cancellation").val('off');
                                    }

                                    var ch= $('#check_apartments').is(":checked");
                                    console.log(ch);
                                    if(ch){
                                        temp_val+=value_apartment;
                                        // change input
                                        $("#input_apartment").val('on');
                                    }
                                    else{
                                        $("#input_apartment").val('off');
                                    }

                                    var ch= $('#check_private').is(":checked");
                                    console.log(ch);
                                    if(ch){
                                        temp_val+=value_private;
                                        // change input
                                        $("#input_private").val('on');
                                    }
                                    else{
                                        $("#input_private").val('off');
                                    }



                                    var text = temp_val+"<img src=\"static_files/images/ico_euro.svg\">";
                                    $(".box_final_price").html(text);
                                }
                            });
                        </script>
                    </div>
                    <div class="box-share">
                        <div class="buttons">
                            <form method="post">
                                <input name="book_ref" value="{{book.id}}" type="hidden">
                                <input name="AG_ACTION" value="save_book" type="hidden">
                                <button class="button">
                                    <img src="static_files/images/ico_save.svg" class="save-ico">
                                    Save
                                </button>
                            </form>
                            <a class="button border" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[title]={{book.name|raw}}&p[url]=http://www.foodiestay.com/books/{{book.slug}}&p[images][0]=http://foodiestay.com/{{book.banner_image}}">
                                <img src="static_files/images/ico_share.svg" class="share-ico">
                                Share
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="space80"></div>

<div class="clearfix"></div>
<!--<section class="container books">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="title">Book other experiences</div>-->
            <!--<div class="title-separator"></div>-->
        <!--</div>-->
        <!--{% for item in books %}-->
        <!--<div class="col-4 box-card">-->
            <!--<div class="calendar">-->
                <!--<p class="month">{{item.date_ini|date("M")}}</p>-->
                <!--<div class="separator"></div>-->
                <!--<p class="day">{{item.date_ini|date("d")}}</p>-->
            <!--</div>-->
            <!--<img src="index.php" class="image_box">-->
            <!--<p class="title">-->
                <!--{{item.name |raw}}-->
            <!--</p>-->
            <!--<p class="description">-->
                <!--{{ item.description|length > 210 ? (item.description|slice(0, 210) ~ '...')|raw :item.description|raw}}-->
            <!--</p>-->
            <!--<a href="{{AG_BASE}}books/{{item.slug}}" class="url">-->
                <!--SEE MORE&nbsp;&nbsp;>-->
            <!--</a>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->

<!--</section>-->
<!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 5,
            minItems: 2,
            maxItems: 4
        });
    });
</script>
{% endblock %}
