{% extends "_base.html" %} {% block content %} {{ parent() }}


<main role="main" class="container about">
    <div class="row">
        
        <div class="col-md-12 ">
            <div class="title">
                Terms and conditions
            </div>
            <div class="title-text">
                FoodieStay is a global digital platform bringing authentic, exclusive and latest food-related events
                to gastronomic travelers                    
            </div>
        </div>
        <div class="col-md-6 rg over-image">
            <img src="static_files/images/about_image1.png">
        </div>
        <div class="col-md-6">
            <div class="subtitle">
                    Flexible
            </div>
            <div class="description">
                Foodies like you love discovering on their own, flying free from one place to another, deciding on everyday's feelings. All our plans can be modified and reorganized until last minute.
                Our several days packages give you full flexibility during your stay. They allow you to daily freely discover towns and places to eat while having a secured place in very original and limited food experience. 
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="subtitle">
                    Exclusive
            </div>
            <div class="description">
                    We understand your exquisite taste and move the earth to find original, creative and non-existing elsewhere experiences around food. We go further than others discovering off the track gastronomic offers everywhere. 
                    <br>
                    We create experiences that can be booked privately for you and your partner, friends or family. 
            </div>
        </div>
        <div class="col-md-6 lf over-image">
            <img src="static_files/images/about_image2.png">
        </div>

        <div class="col-md-6 rg over-image">
            <img src="static_files/images/about_image3.png">
        </div>
        <div class="col-md-6">
            <div class="subtitle">
                    Ultimate
            </div>
            <div class="description">
                Sophisticated Foodies like you know what they want, know where to find it. Sometimes it is hard to know when to match the best and ultimate food events happening in each city. In FoodieStay we love providing that extra mile to exquisite tasters like you offering you experiences at the right gastronomical moment of each city. 
                <br>
                Show cookings, local gastronomic events, Chefs in town, you name it. Our content strategists have searched and included every local event related to food. This allows you to choose time periods and see what is happening when. 
            </div>
        </div>

        <div class="col-md-12">
            <div class="center-all">
                <img src="static_files/images/about_image4.png">
                <div class="title">
                        Our experiences
                </div>
                <div class="description">
                        Right moment, right place
                        To the heart of everything
                        Life as a challenge 
                        Discover and rediscover
                        
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

{% include 'components/footer_home.html' %}

{% endblock %}
{% block scripts %}
{{ parent() }}

<script>
// Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 5,
            minItems: 2,
            maxItems: 4
        });
    });
</script>
{% endblock %}
