<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Administrator {{title}}</title>

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="static_files/backend_files/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static_files/backend_files/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-fixed-top bg-black">
      <img src="static_files/backend_template/logo.png" class="img-responsive logo-nav">
      <a class="navbar-brand" href="#">{{ag_admin_title}} </a>
    </nav>

    {% block content %}
                
    {% endblock %}
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" ></script>
    <script>window.jQuery || document.write('<script src="static_files/backend_files/vendor/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://unpkg.com/popper.js@^1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="static_files/backend_files/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
