{% extends "_base_auth.html" %}
{% block content %}
{{ parent() }}
<div class="space80"></div>
<div class="container">
    <div class="wrap-container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 ml-auto bg-black login-content ">
                        <form method="post" name="login-form">
                            <div class="form-group">
                                <label for="user_identifier">User</label>
                                <input type="email" class="form-control" name ="user_identifier" id="user_identifier" placeholder="Enter user">
                            </div>
                            <div class="form-group">
                                <label for="user_pass">Password</label>
                                <input type="password" class="form-control" name="user_pass" id="user_pass" placeholder="Enter Password">
                            </div>
                            <input name="AG_ACTION" value="ag_auth::login" type="hidden">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $("form[name='login-form']").validate({
            rules: {
                user_identifier: "required",
                user_pass: "required",
                user_identifier: {
                    required: true,
                    email: true
                },
                user_pass: {
                    required: true,
                    minlength: 5,
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
{% endblock %}
