{% extends "_base.html" %} {% block content %} {{ parent() }}

<h1 class="page-header">Dashboard</h1>
<div class="row placeholders">
	{% for item in menu_list %}
		{% if item.type=="url" %}

			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 placeholder">
				<div class="box_bg" style="background: {{item.background}} !important;">
					<a href="{{ag_admin_url_base}}/{{item.url}}">
						<i class="{{item.icon}} fa-3x pull-right alpha-icon"></i>
						<p class="pull-left texto-icon">{{item.text}}</p>
					</a>
				</div>
			</div>

		{% endif %}


		{% if item.type=="title" %}
			<div class="space10"></div>
			<div class="col-md-12">
				<div class="page-header title h5 {{item.class}}">{{item.title}}</div>
			</div>
		{% endif %}

		{% if item.type=="div" %}
			<div class="{{item.class}}"></div>
		{% endif %}

	{% endfor %}

</div>


{% endblock %} {% block scripts %} {{ parent() }} {% endblock %}
