<div class="box-card box-big-card">
    <div class="image">
        <div class="calendar">
            <p class="month">{{item.date_ini|date("M")}}</p>
            <div class="separator"></div>
            <p class="day">{{item.date_ini|date("d")}}</p>
        </div>
        <a class="button_black" href="{{AG_BASE}}books/{{item.slug}}">
            <img src="{{item.list_image}}">
        </a>
    </div>
    <div class="info">
        <div class="block1">
            {% if item.date_ini !=  item.date_end %}
            <div class="date">
                <img src="static_files/images/ico_cal.svg" class="cal-ico">
                {{item.date_ini}}
                {% if item.date_end !='' and item.date_end!='0000-00-00' %}
                al {{item.date_end}}
                {% endif %}
            </div>
            {% else %}
            <div class="date">
                <img src="static_files/images/ico_clock.svg" class="cal-ico">
                {{item.hour_ini}}
                {% if item.hour_ini !='' and item.hour_end!='0000-00-00' %}
                a {{item.hour_end}}
                {% endif %}
            </div>
            {% endif %}

            <div class="buttons mobile d-md-none">
                <form method="post" class="form_save">
                    <input name="book_ref" value="{{item.id}}" type="hidden">
                    <input name="AG_ACTION" value="save_book" type="hidden">
                    <button class="button" href="#">
                        <img src="static_files/images/ico_save.svg" class="save-ico">
                    </button>
                </form>
                <a class="button" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[title]={{item.name|raw}}&p[url]=http://www.foodiestay.com/books/{{item.slug}}&p[images][0]=http://foodiestay.com/{{item.banner_image}}">
                    <img src="static_files/images/ico_share.svg" class="share-ico">
                </a>
            </div>
            <a class="button_black" href="{{AG_BASE}}books/{{item.slug}}">
                <p class="title">
                    {{item.name|raw}}
                </p>
                <div class="sub-title">
                    {{item.country_name}}
                    {% if item.days>0 %}
                    - {{item.n_days}} DAYS
                    {% endif  %}
                </div>
            </a>
            <div class="description">
                {{ item.description|length > 120 ? (item.description|slice(0, 120) ~ '...')|raw :item.description|raw}}
            </div>
            <div class="buttons d-none d-md-block">
                <form method="post" class="form_save">
                    <input name="book_ref" value="{{item.id}}" type="hidden">
                    <input name="AG_ACTION" value="save_book" type="hidden">
                    <button class="button" href="#">
                        <img src="static_files/images/ico_save.svg" class="save-ico">
                        {% if item.saved %}
                            {{i18n.books_txt_remove|raw}}
                        {% else %}
                            {{i18n.books_txt_save|raw}}
                        {% endif %}
                    </button>
                </form>
                <a class="button" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[title]={{item.name|raw}}&p[url]=http://www.foodiestay.com/books/{{item.slug}}&p[images][0]=http://foodiestay.com/{{item.banner_image}}">
                    <img src="static_files/images/ico_share.svg" class="share-ico">
                    {{i18n.books_txt_share|raw}}
                </a>
            </div>
        </div>

        <div class="separator mobile d-md-none"></div>
        <div class="block2 mobile d-md-none">
            <div class="pull-left">

                <div class="price_txt">
                    {{i18n.books_txt_price|raw}}
                </div>
                <div class="price">
                    {{item.price}} <img src="static_files/images/ico_euro.svg">
                </div>
            </div>
            <div class="pull-right">
                <div class="stars">
                    <img src="static_files/images/ico_star_black.svg" class="star-ico">
                    <img src="static_files/images/ico_star_black.svg" class="star-ico">
                    <img src="static_files/images/ico_star_black.svg" class="star-ico">
                    <img src="static_files/images/ico_star_black.svg" class="star-ico">
                    <img src="static_files/images/ico_star_black_empty.svg" class="star-ico">
                </div>
                <div class="opinion">
                    ( 0 {{i18n.books_txt_opinion|raw}} )
                </div>
            </div>
            <div class="clearfix"></div>
            <a class="button_black" href="{{AG_BASE}}books/{{item.slug}}">
                {{i18n.books_txt_button_see|raw}}
            </a>
        </div>

        <div class="separator d-none d-md-block"></div>
        <div class="block2 d-none d-md-block">
            <div class="price_txt">
                {{i18n.books_txt_price|raw}}
            </div>
            <div class="price">
                {{item.price}} <img src="static_files/images/ico_euro.svg">
            </div>
            <div class="stars">
                <img src="static_files/images/ico_star_black.svg" class="star-ico">
                <img src="static_files/images/ico_star_black.svg" class="star-ico">
                <img src="static_files/images/ico_star_black.svg" class="star-ico">
                <img src="static_files/images/ico_star_black.svg" class="star-ico">
                <img src="static_files/images/ico_star_black_empty.svg" class="star-ico">

            </div>
            <div class="opinion">
                    ( 0 {{i18n.books_txt_opinion|raw}} )
            </div>
            <a class="button_black" href="{{AG_BASE}}books/{{item.slug}}">
                {{i18n.books_txt_button_see|raw}}
            </a>
        </div>
    </div>
</div>