<footer>
    <div class="footer_grey">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title">
                        {{i18n.footer_txt_big}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="description">
                        {{i18n.footer_txt_sign_up}}
                    </div>
                </div>
                <div class="col-md-4">
                    <form method="post">
                        <input name="email" placeholder="{{i18n.footer_txt_input_box}}">
                        <!-- TODO write this in ajax form -->
                        <input name="AG_ACTION" value="subscribe_to_email" type="hidden">
                        <button class="btnx btn-white mt-2 d-md-none">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_black">
        <div class="container">
            <div class="row">
                <div class="col-md-5 d-none d-md-block">
                    <div class="copy">
                        {{i18n.footer_txt_copy_right}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ico">
                        <img src="static_files/images/ico_footer.svg">
                    </div>
                </div>
                <div class="col-md-5 d-none d-md-block">
                    <div class="social">
                        <a href="https://www.twitter.com/foodiestay">TWITTER</a>
                        <div class="separator"></div>
                        <a href="https://www.facebook.com/foodieStayinSpain">FACEBOOK</a>
                        <div class="separator"></div>
                        <a href="https://www.pinterest.com/foodiestay">PINTEREST</a>
                        <div class="separator"></div>
                        <a href="https://www.instagram.com/foodiestay">INSTAGRAM</a>
                    </div>
                </div>

                <div class="col-md-4 d-md-none">
                    <div class="social mobile">
                        <a href="https://www.twitter.com/foodiestay"><img src="static_files/images/ico_contact_twitter.svg"> </a>
                        <a href="https://www.facebook.com/foodieStayinSpain"><img src="static_files/images/ico_contact_facebook.svg"> </a>
                        <a href="https://www.pinterest.com/foodiestay"><img src="static_files/images/ico_contact_pinterest.svg"> </a>
                        <a href="https://www.instagram.com/foodiestay"><img src="static_files/images/ico_contact_instagram.svg"> </a>
                    </div>
                </div>

                <div class="col-md-4 d-md-none">
                    <div class="copy">
                        {{i18n.footer_txt_copy_right}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
